<section class="auth row" data-ng-controller="VerifyController">
  <section ng-if="vm.isResetSent">
    <h3 class="col-md-12 text-center">Resend your account verification email</h3>
    <p class="small text-center">Enter your account email.</p>
    <div data-ng-show="error" class="text-center text-danger">
      <strong>{{error}}</strong>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <form data-ng-submit="vm.resendVerifyEmail()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <input type="text" id="username" name="email" class="form-control" data-ng-model="vm.credentials.email" placeholder="bob@example.com">
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary" ng-click="vm.resendVerifyEmail()">{{ 'SUBMIT_BTN' | translate }}</button>
          </div>
        </fieldset>
      </form>
    </div>
  </section>

  <section ng-if="vm.isResetSent">
    <h3 class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 text-center">Verification Email has been Sent </h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <h2>
        {{ 'VERIFICATION_EMAIL_SENT' | translate }} {{username}}.
        <br> {{ 'NOT_ACTIVATED_YET' | translate }}
      </h2>
      <p> {{ 'CHECK_YOUR_EMAIL' | translate }} </p>
      <div class="text-center form-group">
        <button type="submit" class="btn btn-large btn-primary">
          <a href="/#!/" style="color:white;">Continue</a>
        </button>
      </div>
    </div>
  </section>
</section>
