<section style="margin-top:50px;" class="row text-center" data-ng-controller="VerifyController" ng-init="validateVerifyToken()">

  <section class="row text-center" ng-if="isResetSent">
    <h3 class="col-md-12"></h3>
    <a href="/#!/signin" class="col-md-12">{{ 'CONTINUE_TO_LOGIN' | translate }}</a>
  </section>

  <section class="row text-center" ng-if="!isResetSent">
    <h3 class="col-md-12">{{ 'VERIFY_ERROR' | translate }}</h3>
    <a href="/#!/verify" class="col-md-6">{{ 'REVERIFY_ACCOUNT_LINK' | translate }}</a>
    <a href="/#!/signin" class="col-md-6">{{ 'SIGNIN_BTN' | translate }}</a>
  </section>

</section>
