<section>
  <div class="page-header">
    <h1>Customizings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="customizing in vm.customizings"
       ui-sref="customizings.view({ customizingId: customizing._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="customizing.created | date:'mediumDate'"></span>
        by
        <span ng-if="customizing.user" ng-bind="customizing.user.displayName"></span>
        <span ng-if="!customizing.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="customizing.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.customizings.$resolved && !vm.customizings.length">
    No Customizings yet, why don't you <a ui-sref="customizings.create">create one</a>?
  </div>
</section>
