<section>
  <div class="page-header">
    <h1 ng-bind="vm.customizing.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.customizing.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="customizings.edit({ customizingId: vm.customizing._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.customizing.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.customizing.user"
            ng-bind="vm.customizing.user.displayName"></span>
      <span ng-if="!vm.customizing.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.customizing.content"></p>
</section>
<p>THIS IS CRISTOS DOMAIN</p>