<section class="row" data-ng-controller="PasswordController">
    <h3 class="col-md-12 text-center">{{ "forgot_password.RESTORE_YOUR_PASSWORD" | translate }}</h3>
    <p class="small text-center">{{ "forgot_password.ENTER_YOUR_ACCOUNT_USERNAME" | translate }}</p>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{ 'forgot_password.USERNAME' | translate }}">
				</div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">{{ "forgot_password.SUBMIT" | translate }}</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>