language: node_js
dist: trusty
sudo: false
node_js:
  - '6.10'
  - '7'
  - '8'
matrix:
  fast_finish: true
  allow_failures:
    - node_js: '8'
os:
  - linux
  - centos
  - macosx
  - windows
# NodeJS v4 requires gcc 4.8
env:
  - NODE_ENV=travis CXX="g++-4.8" CC="gcc-4.8"
services:
  - mongodb
# gcc 4.8 requires ubuntu-toolchain-r-test
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - gcc-4.8
    - clang
before_install:
  - npm install nsp -g
  - npm install snyk -g
  - npm install protractor
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
  - 'node_modules/protractor/bin/webdriver-manager update --standalone --firefox'
  - 'node_modules/protractor/bin/webdriver-manager start 2>&1 &'
  - sleep 3
#before_script:
#  - snyk auth $SNYK_TOKEN
#  - snyk test
after_script:
  - nsp check
  - snyk test
  - gulp test:coverage
  - node_modules/.bin/lcov-result-merger 'coverage/**/lcov.info' | node_modules/coveralls/bin/coveralls.js
notifications:
  webhooks:
    urls:
      - $GITTER_IM_URL
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
