---
layout: default
title: Documentation
---

<section class="row">
  <div class="col-md-2">
    <nav class="nav-docs" role="complementary">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#overview">Overview</a>
        </li>
        <li>
          <a href="#getting-started">Getting Started</a>
        </li>
        <li>
          <a href="#troubleshooting">Troubleshooting</a>
        </li>
        <li>
          <a href="#folder-structure">Folder Structure</a>
        </li>
        <li>
          <a href="#configuration">Configuration</a>
        </li>
        <li>
          <a href="#autoload">Autoloaded Files</a>
        </li>
        <li>
          <a href="#npm">NPM</a>
        </li>
        <li>
          <a href="#bower">Bower</a>
        </li>
        <li>
          <a href="#grunt">Grunt</a>
        </li>
        <li>
          <a href="#express">Express &amp; Routing</a>
        </li>
        <li>
          <a href="#passport">Passport</a>
        </li>
        <li>
          <a href="#backend-views">Backend Views</a>
        </li>
        <li>
          <a href="#server-tests">Server Tests</a>
        </li>
        <li>
          <a href="#angularjs-tests">AngularJS Tests</a>
        </li>
        <li>
          <a href="#angularjs-modules">AngularJS Modules</a>
        </li>
        <li>
          <a href="#menus">AngularJS Menus Service</a>
        </li>
        <li>
          <a href="#article-example">The Article Example</a>
        </li>
      </ul>
    </nav>
  </div>
  <section class="col-md-10 col-md-offset-2">
    <i class="small text-muted">
      Last updated: 03 Aug 2014.
    </i>

    {% include docs/0.3.x/overview.html %}

    {% include docs/0.3.x/gettingstarted.html %}
    
    {% include docs/0.3.x/troubleshooting.html %}

    {% include docs/0.3.x/folderstructure.html %}

    {% include docs/0.3.x/configuration.html %}

    {% include docs/0.3.x/autoload.html %}

    {% include docs/0.3.x/npm.html %}

    {% include docs/0.3.x/bower.html %}

    {% include docs/0.3.x/grunt.html %}

    {% include docs/0.3.x/express.html %}

    {% include docs/0.3.x/passport.html %}

    {% include docs/0.3.x/backendviews.html %}

    {% include docs/0.3.x/servertests.html %}

    {% include docs/0.3.x/angularjstests.html %}

    {% include docs/0.3.x/angularjsmodules.html %}

    {% include docs/0.3.x/menus.html %}

    {% include docs/0.3.x/articleexample.html %}

  </section>
</section>
