<section data-ng-controller="QuizzesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Quiz1</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="quiz.name" id="name" class="form-control" placeholder="Name" required>

                        <input type="text" data-ng-model="quiz.category" id="category" class="form-control" placeholder="Category" >
                        <input type="text" data-ng-model="quiz.keyWords" id="keyword" class="form-control" placeholder="Keyword" >
                        <input type="text" data-ng-model="quiz.quizNumber" id="number" class="form-control" placeholder="Number" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
                <div class="list-group">
                    <a data-ng-repeat="qa in quiz.qa"  class="list-group-item">
                        <small class="list-group-item-text">
                            Posted on
                            <span data-ng-bind="qa.question | date:'medium'"></span>
                            by
                            <span data-ng-bind="qa.user.displayName"></span>
                        </small>
                        <h4 class="list-group-item-heading" data-ng-bind="quiz.name"></h4>
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
</section>
