<section data-ng-controller="QuizzesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Quiz1</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>

                    <div class="col-md-6 form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="quiz.name" id="name" class="form-control" placeholder="Name" required>
                        <label class="control-label" for="name">Category</label>
                        <input type="text" data-ng-model="quiz.category" id="category" class="form-control" placeholder="Category" >
                        <label class="control-label" for="name">Keywords</label>
                        <input type="text" data-ng-model="quiz.keyWords" id="keyword" class="form-control" placeholder="Keyword" >
                        <label class="control-label" for="name">Number</label>
                        <input type="text" data-ng-model="quiz.quizNumber" id="number" class="form-control" placeholder="Number" required>
                    </div>
                </div>
                <br/>
                <select ng-model="dd" ng-options=" dp2.label for dp2 in difficultyDropdown" data-style="btn-primary" bs-select>
                    <option value=""> Difficulty
                </select>{{dd.label}}
                <input type='checkbox' data-ng-model='qa.hintOn'>Allow Hint</input>
                <input type='checkbox' data-ng-model='qa.timeOn'>Timed</input></br>
                <input type='checkbox' data-ng-model='qa.fifty50On'>50/50</input>
                <input type='checkbox' data-ng-model='qa.randomizeAnswersOn'>Randomize Answers</input></br>
                <input type='checkbox' data-ng-model='qa.randomizeQuestionsOn'>Randomize Questions</input>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>


                    <div class="list-group">
                    <a data-ng-repeat="qa in qas"  class="list-group-item">
                        <small class="list-group-item-text">
                            <input type='checkbox' data-ng-model='qa.choices.correctAnswer'>
                            <span data-ng-bind="qa.question | date:'medium'"></span>
                            <span data-ng-bind="qa.user.displayName"></span>
                        </small>
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
</section>
