<section data-ng-controller="QasController" data-ng-init="findQuizzesOne">
    <div class="page-header">
        <h1>New Big QA</h1>
        <h2>{{qaQuizName}} </h2>
    </div>

    <select ng-model="qd" ng-options=" qp1.name for qp1 in quiz.name" data-style="btn-primary" bs-select>
        <option value=""> Quiz
    </select>{{qd.label}}
    <select ng-model="td" ng-options=" dp1.label for dp1 in typeDropdown" data-style="btn-primary" bs-select>
    <option value=""> Type
</select>{{td.label}}
    <select ng-model="dd" ng-options=" dp2.label for dp2 in difficultyDropdown" data-style="btn-primary" bs-select>
        <option value=""> Difficulty
    </select>{{dd.label}}
    <form class="form-horizontal" data-ng-submit="create()">
    <div class="col-md-6">

            <fieldset>
                    <div class="form-group">
                    <label class="control-label" for="title">Question</label>

                    <div class="controls">
                        <textarea data-ng-model="question" id="title1" class="form-control"
                                  placeholder="Question" required></textarea>
                    </div>

                    <label>Answers</label>

                    <div class='input-group' ng-repeat="choices in qa.choices">
					<span class="input-group-addon">
						<input type='checkbox' ng-model='choices.correctAnswer[$index]'>
					</span>
                        <input type="text" ng-model="choices.text" class="form-control"
                               placeholder="Enter answer {{$index+1}} text"><br>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" ng-click="addChoice()"><span
                                class="glyphicon glyphicon-plus"></span> Add another
                        </button>
                    </div>
                </div>
            </fieldset>

    </div>
    <div class="col-md-6">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="content">Image URL</label>

                <div class="controls">
                    <input data-ng-model="imageURL" id="content1" class="form-control"
                           placeholder="URL">
                </div>

            </div>
            <div>
                <img ng-src="{{imageURL}}" height="100" width="100">
            </div>
            <div class="controls">
                <input data-ng-model="hint" id="content" class="form-control" placeholder="Hint">
            </div>

            <div class='form-group'>
                <div class="row">
    <!--dropdown class is required for each dropdown - otherwise dropdown text is repeated-->
                <div class="dropdown col-xs-4 col-md-4">
                    <button class="dropdown-toggle" id='dp1' data-toggle="dropdown" role="button" href="#">Type <span
                            class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li ng-repeat="dp1 in typeDropdown">
                            <a>{{dp1.label}}</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown col-xs-4 col-md-4">
                    <button class="dropdown-toggle" id='dp2' data-toggle="dropdown" role="button" href="#">
                        Difficulty <span
                            class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li ng-repeat="dp2 in difficultyDropdown">
                            <a>{{dp2.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
                <!--See http://gurustop.net/blog/2014/01/28/common-problems-and-solutions-when-using-select-elements-with-angular-js-ng-options-initial-selection/ for TODO-->
                <select ng-model="dd" ng-options=" dp3.label for dp3 in difficultyDropdown" data-style="btn-primary" bs-select>
                    <option value=""> Difficulty
                </select>
                <br/>
                <input type='checkbox' data-ng-model='hintOn'>Allow Hint
                <input type='checkbox' data-ng-model='timeOn'>Timed
                <input type='checkbox' data-ng-model='fifty50On'>50/50
                <input type='checkbox' data-ng-model='randomizeAnswersOn'>Randomize Answers
                <input type='checkbox' data-ng-model='randomizeQuestionsOn'>Randomize Questions
                <input type="text" data-ng-model="qa.questionNumber" id="title" class="form-control"
                       placeholder="Question Number" required>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </div>
        </fieldset>

    </div>
    </form>
</section>
