<!-- <section>
  <div class="page-header">
    <h1>Options</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="option in vm.options"
       ui-sref="options.view({ optionId: option._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="option.created | date:'mediumDate'"></span>
        by
        <span ng-if="option.user" ng-bind="option.user.displayName"></span>
        <span ng-if="!option.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="option.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.options.$resolved && !vm.options.length">
    No Options yet, why don't you <a ui-sref="options.create">create one</a>?
  </div>
</section>
 -->


 <section>
    <h1>Settings</h1>
 </section>