<div class="navbar-inner" data-ng-controller="HeaderController">
    <div class="container-fluid">
        <a class="btn btn-navbar collapsed" data-ng-click="isCollapsed = !isCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/#!/">MeanJS</a>
        <div class="nav-collapse collapse" collapse="!isCollapsed">
            <ul class="nav" data-ng-show="global.user">
                <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                    <a href="/#!/{{item.link}}">{{item.title}}</a>
                </li>
            </ul>
            <ul class="nav pull-right" data-ng-hide="global.user">
                <li><a href="/#!/signup">Signup</a>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="/#!/signin">Signin</a>
                </li>
            </ul>
            <ul class="nav pull-right" data-ng-show="global.user">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{global.user.name}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/auth/signout">Signout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>