<div class="row" data-ng-controller="AuthenticationController">
    <h3 class="span12 text-center">Sign in using your social accounts</h3>
    <div class="span12 text-center">
        <a href="/auth/facebook"><img src="/img/buttons/facebook.png"></a>
        <a href="/auth/twitter"><img src="/img/buttons/twitter.png"></a>
        <a href="/auth/google"><img src="/img/buttons/google.png"></a>
        <a href="/auth/github"><img src="/img/buttons/github.png"></a>
    </div>
    <h3 class="span12 text-center">Or with your email</h3>
    <div class="offset3 span6">
        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
            <div class="control-group">
                <label for="email" class="control-label">Email</label>
                <div class="controls">
                    <input type="text" id="email" name="email" data-ng-model="credentials.email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label for="password" class="control-label">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
                </div>
            </div>
            <div class="text-center control-group">
                <button type="submit" class="btn btn-large btn-primary">Sign in</button>&nbsp; or&nbsp;
                <a href="/#!/signup" class="show-signup">Sign up</a>
            </div>
            <div data-ng-show="error" class="text-center text-error">
                <strong>{{error}}</strong>
            </div>
        </form>
    </div>
</div>