<!-- sponsors and admins should be able to see this -->

<section>
	<head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="style.css">
	</head>
	<div class="container">
	  <div class="row">
	    <h1 class="title">Resume Portal</h1>
	  </div>
	  <div class="row" ng-controller="CatalogController">
	    <div class="col-md-6">
	      <div class="input-group" id="searchBar">
	        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
	        <input type="text" class="form-control" placeholder="Search" ng-model="searchValue" ng-keyup="filterData()" />
	      </div>
	      <div class="tableWrapper">
	        <table class="table table-striped table-hover">
	            <tbody class="container">
	                <tr ng-repeat="user in filteredUsersList" ng-click="showDetails($index)">
	                  <div>
	                    <td>
	                      <img class="centerText" src="profilePic.png" height=50 width=50></img>
	                    </td>
	                    <td class="information leftText">
	                      <p colspan="100%">
	                        {{user.firstName}} {{user.lastName}}
	                        <br> Major: {{user.major}}
	                        <br> Team: {{user.teamName}}
	                      </p>
	                    </td>
	                    <td>
	                      <br><a class="actionButton" href="mailto:bry3133@ufl.edu?Subject=We%20Should%20Talk">Email</a>
	                    </td>
	                    <td>
	                      <br><i class="actionButton glyphicon glyphicon-circle-arrow-down" style="font-size: 25px;"></i>
	                    </td>
	                  </div>
	                </tr>
	            </tbody>
	        </table>
	      </div>
	    </div>
	    <div class="col-md-6">
	      <div id="cart">
	        <h4 class="leftText"><i class="glyphicon glyphicon-shopping-cart" style="font-size: 25px;"></i>  Cart</h4>
	      </div>
	      <div class="jumbotron">
	      	<p ng-if="detailedInfo.availabilityStatus" class="rightText">
               	<i>Status: {{detailedInfo.availabilityStatus}}</i>
            </p>
	      	<h2>Detailed Information</h2>
            <li ng-if="!detailedInfo">
              Select a student to learn more!
            </li>
            <div ng-if="detailedInfo">
              	<li ng-if="detailedInfo.firstName">
                	Name: {{detailedInfo.firstName}}
              	</li>
	             <li ng-if="detailedInfo.major">
	                Major: {{detailedInfo.major}}
	            </li>
	            <li ng-if="detailedInfo.teamName">
	                Team: {{detailedInfo.teamName}}
	            </li>
	            <li ng-if="detailedInfo.bio">
	                Bio: {{detailedInfo.bio}}
	            </li>
	            <div id="addCart" class="rightText">
		            <button type="addButton">Add to Cart</button>
		        </div>
            </div>
	      </div>
	    </div>
	  </div>
	</div>
</section>