<section data-ng-controller="InvoicesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Invoices</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="invoice in invoices" data-ng-href="#!/invoices/{{invoice._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="invoice.created | date:'medium'"></span>
				by
				<span data-ng-bind="invoice.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="invoice.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!invoices.$resolved || invoices.length">
    	No Invoices yet, why don't you <a href="/#!/invoices/create">create one</a>?
    </div>
</section>