<!-- BIZ CREATE EVENT FORM -->
  <div class="container-fluid" style="background-color: #dddddd" ng-controller="createEventController">
    <div class="row">
      <div class="col-sm-2 col-2">
      </div>
      <div class="col-sm-8 col-8">
        <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
          <h1 style="text-align: center">Create Event</h1>
          <div style="padding-bottom:2px">
            <form>
              <div class="form-group">
                <label for="name">Event Name</label>
                <input type="text" class="form-control" ng-model="name">
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" ng-model="location">
              </div>
              <div class="form-group">
                <label for="date">Event Date (Use dropdown arrow on the right to choose from calendar)</label>
                <input type="date" class="form-control" ng-model="date">
              </div>
              <div class="form-group">
                <label for="sTime">Event Start Time</label>
                <input type="time" class="form-control" id="sTime" ng-model="sTime">
              </div>
              <div class="form-group">
                <label for="eTime">Event End Time</label>
                <input type="time" class="form-control" id="eTime" ng-model="eTime">
              </div>
              <div class="form-group">
                <label for="requireTax">Require Tax ID?</label>
                <input type="checkbox" id="requireTax" ng-model="requireTax">
              </div>
              <button class="btn" style="display:block;margin:auto;color: white; background-color: #1B5689;border: solid 1px #0A4578" type="submit" ng-click="createEvent();loadEventList()" ui-sref="home.bizDash.eventList">Create Event</button>
            </form>
          </div>
          <div class="row" style="justify-content: center">
            <button class="btn" style="display: block; margin:auto; margin-bottom:6px; color: white; background-color: #F5A623;border: solid 1px #D38401" ui-sref="home.bizDash.eventList">Return to Dashboard</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-2">
      </div>
    </div>
  </div>