<!-- BIZ DASHBOARD -->
  <div class="container-fluid" style="background-color: #dddddd">
    <div class="row" style="margin-top:5px">
      <div class="col-sm-12 col-12">
        <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
          <div class="container-fluid">
            <h2 style="text-align:center">Welcome to Your Dashboard</h2>
            <div class="row" style="justify-content: center">
              <ul class="nav nav-tabs">
                <li class="active"><a class="nav-link org-menu-selects" style="color:#1B5689; cursor:pointer" ui-sref=".eventList">Requests</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref=".calendar">Calendar</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref=".pastEvents">Past Events</a></li>
              </ul>
            </div>
            <div ui-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>