<div class="container" ng-controller="HeaderController as vm">
  <!-- HEADER -->
  <div class="navbar-header">
    <a ui-sref="home" class="navbar-brand">Health Tracker</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
    <!-- SEARCH BAR -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
          <div class="input-group">
              <input type="text" class="form-control searchBar" placeholder="Search" name="q">
              <div class="input-group-btn">
                <button class="btn searchBar searchBar-btn" type="submit" ui-sref="search"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>
        </form>
    </div>
    <!-- LOGGED OUT = SIGN UP AND SIGN IN -->
    <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <!-- LOGGED IN = ADD RECIPE, PROFILE INFO, SIGN OUT -->
    <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
      <li>
        <a class="head" ui-sref="add">
          <span class="glyphicon glyphicon-plus"></span> Add Recipe
        </a></li>
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ui-sref="profile.picture">My Profile</a>
          </li>
          <li>
            <a ui-sref="settings">Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

