<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/hard_logo.gif" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        UF Lab Inventory Management Application
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to our web app! This is a landing page to demonstrate the style we have chosen for the application.</h2>
    <p>We're building our software with MEAN.js</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        You can add users and articles for now, we're working on the category functionality and look of the app.
      </li>
    </ul>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>CEN3031-10A, 2017
</section>