<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <img alt="MEAN.JS" class="img-responsive" src="/modules/core/client/img/brand/hard_logo.gif" />
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <p>
              UF Lab Inventory Management Application
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Enjoy &amp; keep us updated,</p>
  <p>CEN3031-10A, 2017</p>
</section>