<section ng-controller="HomeController">


  <!-- ORG VIEWS -->
  <div class="container-fluid" style="background-color: #dddddd" ng-show="isOrg&&!requestEvent" ng-init="requestEvent=0">
    <div class="row" style="margin-top:5px">
      <div class="col-sm-6 col-6">


        <!-- TABBED MENU -->
        <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
          <div class="container-fluid">
            <h1 style="text-align:center">Upcoming Events</h1>

            <!-- TABS -->
            <div class="row" style="justify-content: center">
              <ul class="nav nav-tabs">
                <li class="active"><a class="nav-link org-menu-selects" style="color:#1B5689; cursor:pointer" ng-click="showMenu=0">Requests</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ng-click="showMenu=1">Calendar</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ng-click="showMenu=2">Past Events</a></li>
              </ul>
            </div>

            <!-- REQUESTS LIST -->
            <div class="row" style="justify-content: center" ng-init="showMenu=0" ng-show="showMenu == 0">
              <!-- PUT CONTENT HERE -->
              <h2 style="text-align:center">Requests</h2>
              <div class = "panel" style="max-height: 300px;overflow: auto">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Business Name</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Cancel Event</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="event in eventList">
                    <tr>
                      <th>{{event.bizName}}</th>
                      <td>{{event.date}}</td>
                      <td>{{event.status}}</td>
                      <td>
                        <button class="btn btn-danger" style="display: block; margin:auto" ng-click="">Cancel</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- REQUEST EVENT BUTTON -->
            <div class="row" style="justify-content: center">
              <button class="btn" style="display: block; margin:auto; margin-bottom:6px; color: white; background-color: #F5A623;border: solid 1px #D38401" ng-click="requestEvent=1">Add Event</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-6">
        <!-- FUNDS RAISED -->
        <div class="row">
          <div class="col-sm-12 col-12">
            <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
              <h1>Total Funds Raised</h1>
            </div>
          </div>
        </div>
        <!-- ORGANIZATION BIO -->
        <div class="row">
          <div class="col-sm-12 col-12">
            <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
              <h1>Organization Bio</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: #dddddd" ng-show="requestEvent">
    <div class="row">
      <div class="col-sm-2 col-2">
      </div>
      <div class="col-sm-8 col-8">
        <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
          <h1 style="text-align: center">Request Event</h1>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Business Name</th>
                <th>Date</th>
                <th>Request Event</th>
              </tr>
            </thead>
            <tbody ng-repeat="event in eventList">
              <tr>
                <th>{{event.bizName}}</th>
                <td>{{event.date}}</td>
                <td>
                  <button class="btn" style="display: block; margin:auto; background-color: green;border: solid 1px darkgreen;color:white">Request</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="justify-content: center">
            <button class="btn" style="display: block; margin:auto; margin-bottom:6px; color: white; background-color: #F5A623;border: solid 1px #D38401" ng-click="requestEvent=0">Return to Dashboard</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-2">
      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-color: #dddddd" ng-show="isBiz">
    <div class="row" style="margin-top:5px">
      <div class="col-sm-6 col-6">
        <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
          <div class="container-fluid">
            <h1 style="text-align:center">Upcoming Events</h1>
            <div class="row" style="justify-content: center">
              <ul class="nav nav-tabs">
                <li class="active"><a class="nav-link org-menu-selects" style="color:#1B5689; cursor:pointer" ng-click="showMenu=0">Requests</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ng-click="showMenu=1">Calendar</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ng-click="showMenu=2">Past Events</a></li>
              </ul>
            </div>
            <div class="row" style="justify-content: center" ng-init="showMenu=0" ng-show="showMenu == 0">
              <h2 style="text-align:center">Requests</h2>
              <div class = "panel" style="max-height: 300px;overflow: auto">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Business Name</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Cancel Event</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="event in eventList">
                    <tr>
                      <th>{{event.bizName}}</th>
                      <td>{{event.date}}</td>
                      <td>{{event.status}}</td>
                      <td>
                        <button ng-show="event.status == &quot;Confirmed&quot;" class="btn btn-danger" style="display: block; margin:auto" ng-click="">Cancel</button>
                        <button ng-show="event.status == &quot;Pending&quot;" class="btn" style="display: block; margin:auto;background-color: #F5A623;border: solid 1px #D38401; color:white" ng-click="">Accept</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- ADD EVENT BUTTON -->
              <div class="row" style="justify-content: center">
                <button class="btn" style="display: block; margin:auto; margin-bottom:6px; color: white; background-color: #F5A623;border: solid 1px #D38401" ng-click="requestEvent=1">Add Event</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-6">
        <div class="row">
          <div class="col-sm-12 col-12">
            <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-12">
            <div class="jumbotron" style="padding:5px;border-width:1px;border-color:black;border-style:solid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
