<div class="modal-header">
    <h3 class="modal-title">{{modal.title}}</h3>
</div>
<div class="modal-body">
    {{modal.body}}
    <div data-ng-if="modal.items">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button data-ng-show="modal.cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
