<div class="container">
  <!--<div class="lowerNav text-center">
    <div class="textLN"><a class=" test left" href="">Popular Recipes</a> <a class="test" href="">My Recipes</a> </div>
  </div>-->
  <center>
    <h3 id="title">Healhty Alternatives for ""</h3>
  </center>
  </br>
  <div class="lowerNav text-center">
    <div class="textLN"><a class=" test left" href="" ng-click="show()">Item View</a> <a class="test" href="" ng-click="show()">Comparison View</a> </div>
  </div>
  <div ng-show="show">
  <center>
    
    </br>
    <div class="col-md-3">
      <div class="boxed">
        </br>
        Whole Milk
        </br>
        <img src="http://groceries.iceland.co.uk/medias/sys_master/root/h08/h78/8844344557598.jpg" alt="Whole Milk" width="128" height="128">
        </br>
        </br>
      </div>
    </div>
    <div class="col-md-3">
        <div class="boxed">
          </br>
          Soy Milk
          </br>
          <img src="" alt="Soy Milk" width="128" height="128">
          </br>
          </br>
        </div>
    </div>
    <div class="col-md-3">
        <div class="boxed">
          </br>
          Almond Milk
          </br>
          <img src="" alt="Almond Milk" width="128" height="128">
          </br>
          </br>
        </div>
    </div>
    <div class="col-md-3">
      <div class="boxed">
        </br>
        Coconut Milk
        </br>
        <img src="" alt="Coconut Milk" width="128" height="128">
        </br>
        </br>
      </div>
    </div>
  </center>
  </div>
  <div ng-show="show">
        <table>
          <tr>
            <!--<th>Nutritional Information</th>-->
            <td></td>
            <th id="ing1"><!--<button class="btn btn-success">-->Whole Milk<!--</button>--></th>
            <th id="ing2"><!--<button class="btn btn-success">-->Soy Milk<!--</button>--></th>
            <th id="ing3"><!--<button class="btn btn-success">-->Almond Milk<!--</button>--></th>
            <th id="ing4"><!--<button class="btn btn-success">-->Coconut Milk<!--</button>--></th>
          </tr>
          <!----><tr>
            <td>Nutritional Information</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr><!---->
          <tr>
            <td>Calories</td>
            <td id="ing1Cal">105</td>
            <td id="ing2Cal">130</td>
            <td id="ing3Cal">90</td>
            <td id="ing4Cal">35</td>
          </tr>
          <tr>
            <td>Fat (in grams)</td>
            <td id="ing1Fat">2.5</td>
            <td id="ing2Fat">4.5</td>
            <td id="ing3Fat">2.5</td>
            <td id="ing4Fat">3.5</td>
          </tr>
          <tr>
            <td>Sugar (in grams)</td>
            <td id="ing1Sug">13</td>
            <td id="ing2Sug">10</td>
            <td id="ing3Sug">14</td>
            <td id="ing4Sug">0.5</td>
          </tr>
          <tr>
            <td>Protein (in grams)</td>
            <td id="ing1Pro">8</td>
            <td id="ing2Pro">8</td>
            <td id="ing3Pro">1</td>
            <td id="ing4Pro">0.3</td>
          </tr>
        </table>
        
  </div>
</div>