<div class="container">
  <!--<div class="lowerNav text-center">
    <div class="textLN"><a class=" test left" href="">Popular Recipes</a> <a class="test" href="">My Recipes</a> </div>
  </div>-->
  <center>
    <h3 id="title">Healhty Alternatives for ""</h3>
  </center>
  </br>
  <div class="lowerNav text-center">
    <div class="textLN"><a class=" test left" href="" ng-click="show()">Item View</a> <a class="test" href="" ng-click="show()">Comparison View</a> </div>
  </div>
  <!--<div ng-show="show">
  <center>
    
    </br>
    <div class="col-md-3">
      <div class="boxed">
        </br>
        </br>
        Whole Milk
        </br>
        </br>
        </br>
      </div>
    </div>
    <div class="col-md-3">
        <div class="boxed">
          </br>
          </br>
          Soy Milk
          </br>
          </br>
          </br>
        </div>
    </div>
    <div class="col-md-3">
        <div class="boxed">
          </br>
          </br>
          Almond Milk
          </br>
          </br>
          </br>
        </div>
    </div>
    <div class="col-md-3">
      <div class="boxed">
        </br>
        </br>
        Coconut Milk
        </br>
        </br>
        </br>
      </div>
    </div>
  </center>
  </div>-->
  <div ng-show="show">
    <center>
        <table>
          <tr>
            <td></td>
            <td>Whole Milk</td>
            <td>Soy Milk</td>
            <td>Almond Milk</td>
            <td>Cocnut Milk</td>
          </tr>
          <tr>
            <td>Nutritional Information</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Calories</td>
            <td>105</td>
            <td>130</td>
            <td>90</td>
            <td>35</td>
          </tr>
          <tr>
            <td>Fat (in grams)</td>
            <td>2.5</td>
            <td>4.5</td>
            <td>2.5</td>
            <td>3.5</td>
          </tr>
          <tr>
            <td>Sugar (in grams)</td>
            <td>13</td>
            <td>10</td>
            <td>14</td>
            <td>0.5</td>
          </tr>
          <tr>
            <td>Protein (in grams)</td>
            <td>8</td>
            <td>8</td>
            <td>1</td>
            <td>0.3</td>
          </tr>
        </table>
        
    </center>
  </div>
</div>








 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 
 <script type="text/javascript">
   
   var options = [];

$( '.dropdown-menu a' ).on( 'click', function( event ) {

   var $target = $( event.currentTarget ),
       val = $target.attr( 'data-value' ),
       $inp = $target.find( 'input' ),
       idx;

   if ( ( idx = options.indexOf( val ) ) > -1 ) {
      options.splice( idx, 1 );
      setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
   } else {
      options.push( val );
      setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
   }

   $( event.target ).blur();
      
   console.log( options );
   return false;
});
 </script>
