<header class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ "" | prepend: site.baseurl }}" class="logo-container">
                <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="MEAN.JS" height="40">
            </a>
        </div>
        <nav id="navbar" class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="docs.html">Docs</a>
                </li>
      <li>
        <a href="generator.html">Yo Generator</a>
      </li>
                <li>
                    <a href="modules.html">Modules</a>
                </li>
                <li>
                    <a href="changelog.html">Changelog</a>
                </li>
                <li>
                    <a href="community.html">Community</a>
                </li>
                <li>
                    <a href="http://blog.meanjs.org">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
</header>