<head>
  <title>MEAN.JS - {% if page.title %}{{ page.title }}{% else %}Full-Stack JavaScript Using MongoDB, Express, AngularJS, and Node.js{% endif %}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="MEAN.JS - Full-Stack JavaScript Using MongoDB, Express, AngularJS, and Node.js. From creators of MEAN.IO.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@meanjsorg">
  <meta name="twitter:title" content="MEAN.JS - Full-Stack JavaScript Boilerplate From Creators of MEAN.IO.">
  <meta name="twitter:description" content="MEAN.JS - Full-Stack JavaScript Using MongoDB, Express, AngularJS, and Node.js.">
  <meta name="twitter:image:src" content="http://meanjs.org/img/icon.png">

  <meta property="og:title" content="MEAN.JS - Full-Stack JavaScript Boilerplate From Creators of MEAN.IO." />
  <meta property="og:description" content="MEAN.JS - Full-Stack JavaScript Using MongoDB, Express, AngularJS, and Node.js." />
  <meta property="og:image" content="http://meanjs.org/img/icon.png" />
  <meta property="og:url" content="http://meanjs.org" />

  <link rel="shortcut icon" href="img/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>