<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Categories</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <table class="table table-hover applicantsTable">
      <thead>
          <tr class="first-row">
            <td>Category</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Example Cat1</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Example Cat2</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Example Cat3</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Example Cat4</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Example Cat5</td>
            <td>-</td>
          </tr>
        </tbody>
    </table>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
