<section>
  <div class="page-header">
    <div class="row">
      <div class="col-xs-4">
        <h1>
          Categories
        </h1>
      </div>
      <div class="col-xs-4 pull-right">
        <a id="add-category-btn" class="btn btn-primary" ui-sref="admin.items.categorycreate">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <input class="form-control" type="text" ng-model="query" placeholder="Search"/>
      </div>
    </div>
  </div>
  <table class="table table-hover table-striped categories-table">
    <thead>
      <tr class="first-row">
        <th>Category</th>
        <th>Hex Color</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in vm.categories | filter: query">
        <td>{{ category.title }}</td>
        <td>
          <p class="hex-color" ng-style="{'border-bottom-color': category.hexColor}">
            {{ category.hexColor }}
          </p>
        </td>
        <td>
          <a class="btn btn-primary remove-btn" ng-click="vm.remove(category)">
            <i class="glyphicon glyphicon-minus"></i>
          </a>  
        </td>
      </tr>
    </tbody>
  </table>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
