<section>
  <div class="page-header">
    <div class="row">
      <div class="col-xs-4">
        <h1>
          Modules
        </h1>
      </div>
      <div class="col-xs-4 pull-right">
        <a id="add-module-btn" class="btn btn-primary" ui-sref="admin.items.modulecreate">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input class="form-control" type="text" ng-model="query" placeholder="Search"/>
      </div>
    </div>
  </div>
  <table class="table table-hover applicantsTable">
    <thead>
      <tr class="first-row">
        <th class="firstColumn">Module</td>
        <th class="secondColumn"></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="module in vm.modules | filter: query">
        <td class="firstColumn">{{ module.title }}</td>
        <td class="secondColumn">
          <a class="btn btn-primary" ng-click="vm.remove(module)">
            <i class="glyphicon glyphicon-minus"></i>
          </a>  
        </td>
      </tr>
    </tbody>
  </table>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
