<section>
  <div class="page-header">
    <h1>New Category</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.catForm" class="form-horizontal" ng-submit="vm.create()" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" show-errors>
              <label class="control-label" for="title">Name</label>
              <input name="title" type="text" ng-model="vm.cat.title" id="title" class="form-control" placeholder="Title" required autofocus>
              <div ng-messages="vm.form.catForm.title.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Category name is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="hexColor">Hex Color</label>
              <input name="hexColor" type="text" ng-model="vm.cat.hexColor" class="form-control" placeholder="#0021A5" required>
              <div ng-messages="vm.form.catForm.hexColor.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Hex color is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>