<section>
  <div class="page-header">
    <h1>New Module</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.modForm" class="form-horizontal" ng-submit="vm.create()" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Name</label>
          <input name="title" type="text" ng-model="vm.mod.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.modForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Module name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>