<!-- <section>
  <div class="page-header">
    <h1>Profiles</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="profile in vm.profiles"
       ui-sref="profiles.view({ profileId: profile._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="profile.created | date:'mediumDate'"></span>
        by
        <span ng-if="profile.user" ng-bind="profile.user.displayName"></span>
        <span ng-if="!profile.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="profile.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.profiles.$resolved && !vm.profiles.length">
    No Profiles yet, why don't you <a ui-sref="profiles.create">create one</a>?
  </div>
</section>
 -->

<section>
  <div class="container">
    <div class="profile-edit-option">
      <h1>My Profile</h1>
      <div class="row">
          <div class="col-md-4">
              <h3>Your Name</h3>
              <!-- <img src="../img/profile_picture.png" class="img-circle" alt="Profile Photo" width="304" height="304"> -->
              <i style="width: 304px; height: 304px" class="glyphicon glyphicon-user"></i>
              <button type="button" class="btn btn-secondary">Upload New Photo</button>
          </div>
          <div class="col-md-8">
              <div class="row">
                  <div class="col-sm-2">
                      <a class="nav-link active" href="#">Personal</a>
                  </div>
                  <div class="col-sm-2">
                      <a class="nav-link" href="#">Health</a>
                  </div>
              </div>
              <form class="row">
                  <!-- PERSONAL -->
                  <div class="col-md-6">
                    <div class="form-update-profile row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">  <!-- field 1 : email -->
                        </div>
                    </div>
                    <div class="form-update-profile row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">  <!-- field 2 : password -->
                        </div>
                    </div>
                    <div class="form-update-profile row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Age</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputAge3" placeholder="Age">   <!-- field 3 : age -->
                        </div>
                    </div>
                    <div class="form-update-profile row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="UpdatePersonalProfile()">Update</button> <!-- ng-click = function to pop up alert that shows new fields -->
                        </div>
                    </div>
                  </div>

                  <!-- HEALTH -->
                  <div class="col-md-6">
                    <div class="form-update-profile row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Weight</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputWeight3" placeholder="180 lbs">
                        </div>
                    </div>
                    <div class="form-update-profile row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Allergies</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputAllergies3" placeholder="Nuts">
                        </div>
                    </div>
                    <div class="form-update-profile row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Diabetic</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputDiabetic3" placeholder="Yes">
                        </div>
                    </div>
                    <div class="form-update-profile row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div><!-- /.container -->
</section>