<section>
  <div class="page-header">
    <h1>Recipes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="recipe in vm.recipes"
       ui-sref="recipes.view({ recipeId: recipe._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="recipe.created | date:'mediumDate'"></span>
        by
        <span ng-if="recipe.user" ng-bind="recipe.user.displayName"></span>
        <span ng-if="!recipe.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="recipe.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.recipes.$resolved && !vm.recipes.length">
    No Recipes yet, why don't you <a ui-sref="recipes.create">create one</a>?
  </div>
</section>
