.catalog-search {
	margin-bottom: 10px;
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}

.availability-status {
	font-size: 10px;
}

.cart {
	font-size: 24px;
	margin-right: 4px;
	padding-top: 18px;
}

.text-right {
	text-align: right;
}

.headers {
	clear: both;
}

.vertical-bottom {
  vertical-align: bottom;
}