
#wrapper {
  width: 70%;
  margin: 0 auto; /*CENTERS IT*/
}
.center {
    text-align: center;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

/*FOR THE FANCY BUTTON*/
.button {
  border-radius: 5px;
  background-color: #FA4616;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
