/*Profile*/
.student-profile body {
  background:#FFFFFF;
  color:#2a3845;
  font:normal 12px/1.6em Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

.student-profile-p p {
  margin:0;
  padding:0;
}

/* rectangle block that has the home button */
.wrapper-student-profile {
  margin:0 auto;
  width:632px;
}

.header-student-profile {
  margin:0 1px;
}

.bg-student-profile {
  height:36px;
}

.main-content-student-profile {
  margin:0 auto;
}

.main-image-student-profile {
  text-align:left;
}

.left-column-student-profile {
  float:left;
  width:35%;
}

.right-column-student-profile {
  float:right;
  width:65%;
}

.sidebar-student-profile {
  background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
  margin:0 auto;
  width:100%;
}

.student-profile-a a:visited, a:link {
  background:none;
  color:#a43b55;
  text-decoration:underline;
}

.student-profile-a a:hover {
  background:none;
  color:#a43b55;
  text-decoration:none;
}

.student-profile-h1 {
  border-bottom:1px solid #efece7;
  color:#7a2e40;
  font:normal 17px Georgia, serif;
  margin:0 0 10px;
  padding-bottom:10px;
}

.student-profile-h2 {
  border-bottom:1px solid #efece7;
  color:#7a2e40;
  font:normal 17px Georgia, serif;
  margin:20px 0 10px;
  padding-bottom:10px;
}

.student-profile-h3 {
  border-bottom:1px solid #efece7;
  color:#7a2e40;
  font:bold 14px Arial, Helvetica, sans-serif;
  margin:10px 0;
  padding-bottom:10px;
}

.student-profile-h4 {
  color: white;
  font:bold 30px Arial, Helvetica, sans-serif;
  margin:10px 0;
}

.student-profile-h5 {
  color: white;
  font:bold 14px Arial, Helvetica, sans-serif;
  margin:10px 0;
}

.student-profile-ul ul {
  list-style:square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
  margin:0 0 0 17px;
  padding:0;
}

.box-student-profile {
  background:#f7f7f7;
  border:1px solid #f0e9eb;
  padding:15px;
}

/*specifics of the blue rectangle block */
.nav-student-profile {
  background:#06a;
  color:#FFFFFF;
  padding:10px 10px;
  text-align:left;
}

.nav-student-profile a {
  margin: 0 10px;
}

/*the links to homepage, account, add to cart*/
.nav-student-profile a:visited, .nav a:link {
  /*color of text for homepage and login*/
  color: white;
  text-decoration:none;
}

.nav-student-profile a:hover {
  color:black;
  text-decoration:underline;
}

.student_name-student-profile {
  color:#000000;
  font:normal 18px Georgia, serif;
  margin-bottom:20px;
}

.button-student-profile {
  background-color: #FA4616;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  margin: 5px;
  text-align: center;
  transition: all 0.5s;
  width: 200px;
}

.button-student-profile span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-student-profile span:after {
  content: '\00bb';
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 0;
  transition: 0.5s;
}

.button-student-profile:hover span {
  padding-right: 25px;
}

.button-student-profile:hover span:after {
  opacity: 1;
  right: 0;
}

/* The Modal (background) */
.modal-student-profile {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 0; /* Location of the box */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content */
.modal-content-student-profile {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
  padding: 0;
  position: relative;
  -o-webkit-animation-duration: 0.4s;
  -o-webkit-animation-name: animatetop;
  width: 80%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    opacity:0;
    top:-300px;
  }
  to {
    opacity:1;
    top:0;
  }
}

@keyframes animatetop {
  from {
    opacity:0;
    top:-300px;
  }
  to {
    opacity:1;
    top:0;
  }
}

/* The Close Button */
.close-student-profile {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-student-profile:hover,
.close-student-profile:focus {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

.modal-header-student-profile {
  background-color: #5cb85c;
  color: white;
  padding: 2px 16px;
}

.modal-body-student-profile {padding: 2px 16px;}

.modal-footer-student-profile {
  background-color: #5cb85c;
  color: white;
  padding: 2px 16px;
}
