/*Profile*/
.student-profile body {
	background: #FFFFFF;
	color: #2a3845;
	font: normal 12px/1.6em Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.student-profile-p p {
	margin: 0;
	padding: 0;
}

/* rectangle block that has the home button */
.wrapper-student-profile {
	margin: 0 auto;
	width: 632px;
}

.header-student-profile {
	margin: 0 1px;
}

.bg-student-profile {
	height: 36px;
}

.main-content-student-profile {
	margin: 0 auto;
}

.main-image-student-profile {
	text-align: left;
}

.left-column-student-profile {
	float: left;
	width: 35%;
}

.right-column-student-profile {
	float: right;
	width: 65%;
}

.sidebar-student-profile {
	background: url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
	margin: 0 auto;
	width: 100%;
}

.student-profile-a a:visited, a:link {
	background: none;
	color: #a43b55;
	text-decoration: underline;
}

.student-profile-a a:hover {
	background: none;
	color: #a43b55;
	text-decoration: none;
}

.student-profile-h1 {
	border-bottom: 1px solid #efece7;
	color: #7a2e40;
	font: normal 17px Georgia, serif;
	margin: 0 0 10px;
	padding-bottom: 10px;
}

.student-profile-h2 {
	border-bottom: 1px solid #efece7;
	color: #7a2e40;
	font: normal 17px Georgia, serif;
	margin: 20px 0 10px;
	padding-bottom: 10px;
}

.student-profile-h3 {
	border-bottom: 1px solid #efece7;
	color: #7a2e40;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding-bottom: 10px;
}

.student-profile-h4 {
	color: white;
	font: bold 30px Arial, Helvetica, sans-serif;
	margin: 10px 0;
}

.student-profile-h5 {
	color: white;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 10px 0;
}

.student-profile-ul ul {
	list-style: square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
	margin: 0 0 0 17px;
	padding: 0;
}

.box-student-profile {
	background: #f7f7f7;
	border: 1px solid #f0e9eb;
	padding: 15px;
}

/*specifics of the blue rectangle block */
.nav-student-profile {
	background: #06a;
	color: #FFFFFF;
	padding: 10px 10px;
	text-align: left;
}

.nav-student-profile a {
	margin: 0 10px;
}

/*the links to homepage, account, add to cart*/
.nav-student-profile a:visited, .nav a:link {
	color: white; /*color of text for homepage and login*/
	text-decoration: none;
}

.nav-student-profile a:hover {
	color: black;
	text-decoration: underline;
}

.student_name-student-profile {
	color: #000000;
	font: normal 18px Georgia, serif;
	margin-bottom: 20px;
}

.button-student-profile {
	background-color: #FA4616;
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 15px;
	height: 40px;
	margin: 5px;
	text-align: center;
	transition: all 0.5s;
	width: 200px;
}

.button-student-profile span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-student-profile span:after {
	content: '
