.bodyTerms{
	background-image: url(http://elearning.ufl.edu/media/templates/uf2015/img/bg-texture.png);
	background-size: cover;
    bottom: -40px;
    height: auto;
    left: -20px;
    overflow-y: scroll;
    position: fixed;
    right: -40px;
    top: -20px;
    width: auto;
}

.headerTerms{

	left: +30%;
	font-size: 40px;
	top: calc(50% - 300px);
	text-align: center;
	position: absolute;
}

.paragraphTerms{
    text-align: center;
    left: +20%;
    right: +20%;
    top: calc(50% - 40px);
    position: absolute;
    border: 2px solid #FA4616;
    /*border-color: #FA4616;*/
}