@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.social-account-container {
  display: inline-block;
  position: relative;
}

.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-profile-picture {
  max-height: 300px;
  min-height: 300px;
}

.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.social-button:hover {
  opacity: 0.65;
}

/* ADD RECIPE STYLING */
#directionsHeader, #recipeNameHeader {
  color: #8CD4C9;
}