@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #F5A623;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #F5A623;
}

.btn-primary:active, .btn-primary.active {
    background: #F5A623;
    box-shadow: none;
}



.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #F5A623;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #F5A623;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.signup-container{
padding: 15px;
padding-bottom: 1px;
border-width:1px;
border-color: black;
border-radius: 5px;
border-style: solid;
background-color:rgba(137, 137, 137, 0.68)
}
.settings-container{
padding: 5px;
border-width:1px;
border-color: black;
border-radius: 5px;
border-style: solid;
background-color:rgba(137, 137, 137, 0.3)
}
.signin-container{
padding: 15px;
border-width:1px;
border-color: black;
border-style: solid;
border-radius: 5px;
background-color:rgba(137, 137, 137, 0.3)
}