@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.social-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
	cursor: inherit;
	display: block;
}
.user-profile-picture {
	min-height: 150px;
	max-height: 150px;
}
