@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.social-account-container {
  display: inline-block;
  position: relative;
}

.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-profile-picture {
  max-height: 300px;
  min-height: 300px;
}

.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.social-button:hover {
  opacity: 0.65;
}

/* ADD RECIPE STYLING */
/*#directionsHeader, #recipeNameHeader {
  color: #8CD4C9;
}
*/




/* ALTERNATIVE VIEW*/
.ingredient-containerL{
  background-color: rgba(156,156,156,0.3);
  padding: 25px 50px 25px 50px;
}
.ingredient-containerR{
  background-color: rgba(156,156,156,0.6);
  padding: 25px 50px 25px 50px;
}
.al-h1L{
  color: #383838;
  margin-bottom: 25px;
  font-size: 28px;
}
.al-h1{
  color: #383838;
  margin-bottom: 5px;
  font-size: 28px;
}
.al-containerPaddingL{
  padding: 0px 25px 0 130px;
}
.al-containerPaddingR{
  padding: 0px 130px 0 25px;
}
.al-row{
  margin-top: 50px;
  margin-right: 0; 
  margin-left: 0; 
}
.al-tabs{
  padding-left: 34%;
}
.al-tabMargin{
  float: left;
  margin-right: 15px
}
.tabA{
  color: gray;
}
.tabA:hover{
  color: black;

}
.al-list{
  list-style-type: none;
  line-height: 230%;
}
.al-list-measureL{
  float: left;
  margin-right: 25px;
  color: rgb(174,200,107);
}
.al-list-measureR{
  float: left;
  margin-right: 25px;
}
/*BUTTONS*/
/*.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}*/

.sharp {
  border-radius:0;
}

.htb {
    padding: 5px 24px;
    border: 0 none;
    /*font-weight: 700;*/
    /*letter-spacing: 1px;*/
    /*text-transform: uppercase;*/
    font-size: 16px;
}
.htb:focus, .htb:active:focus, .htb.active:focus {
    outline: 0 none;
}

.htb-primary {
    background: rgb(223,93,74);
    color: #ffffff;
}
.htb-primary:hover, .htb-primary:focus, .htb-primary:active, .htb-primary.active, .open > .dropdown-toggle.htb-primary {
    background: rgba(223,93,74,0.8);
}
.htb-primary:active, .htb-primary.active {
    background: rgba(223,93,74,1);
    box-shadow: none;
}
.al-btnR{
  float: right;
}

/*SIGN UP & SIGN IN*/
.box-field{
  border-radius: 0;
  border: 1px solid rgb(174,200,107);
}
.logo-margin{
  margin-top: 50px;
}
.logo-img{
  width: 300px;
  height: 160px;
}
.link-margin{
  margin-top: 30px;
  margin-bottom: 40px;
}
.propertiesA{
  color: rgb(174,200,107);
}
.propertiesA:hover{
  color: rgb(174,200,107);
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 17px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  38px; }


/* RECIPE DETAILS CSS */
.heroimage {
  width:100%;
  height:500px;
  background: url('http://www.seriouseats.com/images/2015/09/20150914-pressure-cooker-recipes-roundup-09.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.heroimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  text-align: center;
  padding-top: 250px;
  font-size: 30px;

}
.savebtn{
	width: 150px;
	height: 50px;
	background-color: red;
	float: right;
	margin-right: 10%;
}
.recipeDetail{
	text-align: center;
	margin-top: 5%;
}
.heading{
	font-size: 20px;
	margin-right: 45%;
}
.text{
	font-size: 15px;
	/*margin-right: 45%;*/
	display: inline-block;
    text-align: left;
    line-height: 230%;
    margin-top: 10px;
}
hr{
	width: 60%;
	border-width: 1.5px;
	margin-top: 10px;
}
.directions{
	margin-top: 15px;
}
.direction-list{
	margin-top: 10px;
}
span.glyphicon-time {
    font-size: 1.3em;
}
.verticalLine {
  	/*border-right: 2px solid #ff0000;*/
  	width: 70px;
}
.list{
	list-style-type: none;
}
.glyphicon-ring {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
.glyphicon-white {
  background: white;
  color: black;
  border: 1px solid black;
}
.review-containter{
	height: 200px;
	text-align: center;
	margin-top: 3%;
	background-color: grey;
}


/*ADD RECIPE*/
.recipeName{
  color: #737373;
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 30px;
}


