<section class="row">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="userhandle" class="text-center">Enter your account username or email.</label>
          <input type="text" id="userhandle" name="userhandle" class="form-control" ng-model="vm.credentials.userhandle" lowercase required autofocus>
          <div ng-messages="vm.forgotPasswordForm.userhandle.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username or email.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Restore</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
