body {
  padding-top: 50px;
}

.profile-edit-option {
  padding: 40px 15px;
  text-align: center;
}

.col { 
    flex: 1 0 50%; 
}

.image-circle {
    margin: 10px;
}

.form-update-profile {
    max-width: 400px;
    padding: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
    margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: 0px;
}