<section>
  <div class="page-header">
    <h1 ng-bind="vm.article.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.article.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.article.content"></p>
  <div class="container">
    <div class="row" ui-view="replies"></div>
  </div>
</section>
