<section>
  <div class="page-header">
    <h1 ng-bind="vm.article.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      {{'modules.client.POSTED_ON'|translate}}
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      {{'modules.client.POSTED_BY'|translate}}
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">{{'Deleted User'|translate}}</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.article.content"></p>
</section>
