<section data-ng-controller="ExpensesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Expenses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="expense in expenses" data-ng-href="#!/expenses/{{expense._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="expense.created | date:'medium'"></span>
				by
				<span data-ng-bind="expense.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="expense.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!expenses.$resolved || expenses.length">
    	No Expenses yet, why don't you <a href="/#!/expenses/create">create one</a>?
    </div>
</section>