<section>
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="setting in vm.settings"
       ui-sref="settings.view({ settingId: setting._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="setting.created | date:'mediumDate'"></span>
        by
        <span ng-if="setting.user" ng-bind="setting.user.displayName"></span>
        <span ng-if="!setting.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="setting.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.settings.$resolved && !vm.settings.length">
    No Settings yet, why don't you <a ui-sref="settings.create">create one</a>?
  </div>
</section>
