<div>
  <h3 class="col-xs-12 text-center">Add new user</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="roles">Role</label>
          <select name="roles" id="roles" name="roles" class="form-control" ng-model="vm.credentials.roles" placeholder="TA" required>
            <option value="ta">TA</option>
            <option value="superta">Senior TA</option>
            <option value="technician">Technician</option>
            <option value="admin">Administrator</option>
          </select>
          <div ng-messages="vm.userForm.roles.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Role is required.</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.credentials.roles == 'ta' || vm.credentials.roles == 'superta'" show-errors>
          <label for="modules">Module Taught</label>
          <label class="checkbox-inline">
            <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.red"> Red
          </label>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
            <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
          </div>
        </div>

        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          &nbsp;
        </div>
      </fieldset>
    </form>
  </div>
</div>
