<section>
  <div class="page-header">
    <div class="row">
      <div class="col-xs-4">
        <h1 id="users-header" class="users-header-item">Users</h1>
      </div>
      <div id="users-nav-buttons" class="col-xs-12 col-sm-8 pull-right">
        <a id="add-user-btn" class="btn btn-primary users-header-item" ui-sref="admin.add-user">
          Add New User
        </a>
        <a id="view-applicants-btn" class="btn btn-primary users-header-item" ui-sref="admin.user-view-applicants">
          View Pending Applicants ({{ vm.countApplicants() }})
        </a>
      </div>
    </div>
    <div class="row">
      <div id="user-search-container" class="col-xs-12">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" 
          placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item user-box">
          <h4 class="list-group-item-heading">{{user.firstName}} {{user.lastName}}</h4>
          <p class="list-group-item-text pull-right small"> {{vm.modifyRoles(user)}}</p>
          <p class="list-group-item-text" ng-bind="user.email"></p>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" 
        total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</section>
