<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <table class="table table-hover" style="text-align:center; vertical-align: middle">
    	<thead>
    		<tr class="first-row" style="font-weight: bold">
    			<td width="33%">Name</td>
               	<td width="33%"> Approve
                	<label>
                		<input type="checkbox" class="radio" ng-model="vm.checkAllApproved" ng-click="vm.approveAll()">
                	</label>
                </td>
                <td width="33%">Disapprove</td>
            </tr>
        </thead>
        <tbody>
            <tr class="applicant-rows" ng-repeat="applicant in vm.applicants">
             	<td width="33%">{{ applicant.name }}</td>
                <td width="33%" style="text-align:center"> 
                	<label>
                    	<input type="checkbox"  ng-checked="applicant.approved">
                    </label>
                </td>
                <td width="33%">
                	<label>
                    	<input type="checkbox" ng-checked="applicant.declined">
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-4">
  	<a class="btn btn-primary" ui-sref="admin.view-applicants">
    	Submit
    </a>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
