<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
    </div>
  </div>
  <div class="list-group">
    <table class="table table-hover applicantsTable">
    	<thead>
    		<tr id="header-row" class="first-row">
    			<td class="applicant-name-col">Name</td>
    			<td class="applicant-roles-col">Role</td>
          <td>
            <button class="btn btn-primary" ng-click="vm.approveAll()">Approve All Remaining</button>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class="applicant-rows" ng-repeat="applicant in vm.unapprovedUsers">
              <td>{{ applicant.firstName }} {{ applicant.lastName }}</td>
              <td><select ng-init="applicant.roles = vm.roleOptions[0]" name="name" id="id" class="form-control" ng-model="applicant.roles" ng-options="option.name for option in vm.roleOptions">
                </select>
              </td>
                <td class="btn btn-success" ng-click="vm.approveUser(applicant)">APPROVE</td>
                <td class="btn btn-danger" ng-click="vm.removeApplicant(applicant)">DENY</td>
            </tr>
      </tbody>
    </table>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>