<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        {{vm.unapprovedUsers}}
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <table class="table table-hover applicantsTable">
    	<thead>
    		<tr class="first-row">
    			<td width="25%">Name</td>
    			<td width="25%">Role</td>
               	<td width="25%">
                	<label class="checkAll">
                		<input type="checkbox" class="radio" ng-model="vm.checkAllApproved" ng-click="vm.approveAll()">
                	</label>
                	Approve
                </td>
                <td width="25%"></td>
            </tr>
        </thead>
        <tbody>
            <tr class="applicant-rows" ng-repeat="applicant in vm.users">
             	<td width="25%">{{ applicant.username }}</td>
             	<td width="25%"></td>
                <td width="25%" style="text-align:center">
                	<label>
                    	<input type="checkbox" ng-click="vm.changeApproveState(applicant)">
                    </label>
                </td>
                <td width="25%" class="delete-button" ng-click="vm.deleteApplicant(applicant)">x</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-4">
  	<a class="btn btn-primary" ui-sref="admin.view-applicants">
    	Submit
    </a>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
