<!DOCTYPE html>
<html>
<head class="center">
  <title>IPPD: Edit Student Profile</title>
  <link href="../../css/edit_student_profile.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div id = "wrapper">
  <form action="/action_page.php" method="post">

    <div class="form-control">
      <label class="header">Profile Photo:</label><br>
      <input id="student_image" type="file" accept="image/x-png,image/gif,image/jpeg" name="student_profile_photo" placeholder="student_photo" required="" capture><br><br>
    </div>

    <div class="form-control">
      <label class="header">Name:</label><br>
      <input type="text" id="student_firstname" name="student_firstname" placeholder="First Name" style="font-style:italic" required="">
      <input type="text" id="student_lastname" name="student_lastname" placeholder="Last Name" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Current Address:</label><br>
      <input type="text" id="student_address" name="student_address" placeholder="Address" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Username:</label><br>
      <input type="text" id="student_username" name="student_username" placeholder="Username" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Password:</label><br>
      <input type="text" id="student_password" name="student_password" placeholder="Password" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Confirm Password:</label><br>
      <input type="text" id="student_password" name="student_password" placeholder="Confirm Password" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Contact Number:</label><br>
      <input type="text" id="student_contact_number" name="student_contact_number" placeholder="18002738255" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Contact Email:</label><br>
      <input type="email" id="student_contact_email" name="student_contact_email" placeholder="yourUFL@ufl.edu" style="font-style:italic" required=""><br><br>
    </div>

    <div class="form-control">
      <label class="header">Expected Graduation Date:</label><br>
      <input type="date" id="student_grad_date" name="student_grad_date" value="2018-12-25" required=""><br><br>
    </div>

    <!-- <input type="submit" value="Submit"> -->
    <div class="center">
    By creating an account you agree to our <a href="#">Terms & Privacy</a>.<br><br>
    <button class = "button" type="submit"><span>Submit</span></button>
    </div>
  </form>
  </div>

</body>
</html>
