<section>
<body class="student-profile">
  <div class=""="wrapper-student-profile">
    <div class=""="header-student-profile">
      <div class="bg-student-profile"></div>
    </div>
    <div class="main-content-student-profile">
      <div class="right-column-student-profile">
        <div class="student_name-student-profile">{{vm.user.firstName}} {{vm.user.lastName}}</div>
        <div class="student-profile-h3">Objective</div>
        <p class="student-profile-p">I am searching for an internship/co-op in the coming spring or summer semester.</p>
        <div class="student-profile-h3">Education</div>
        <div class="box-student-profile">
          <p class="student-profile-p">University of Florida, College of Engineering</p>
          <ul class="student-profile-ul" style="margin-top:10px;">
            <li><b>Major:</b> {{vm.user.major}}</li>
            <li><b>GPA:</b> {{vm.user.gpa}}</li>
            <li><b>Graduation Date:</b> {{vm.user.graduationDate}}</li>
            <li><b>Employment Status:</b> {{vm.user.availabilityStatus}}</li>
          </ul>
        </div>
        <div class="student-profile-h3">Short Biography</div>
        <div class="box-student-profile">
          <p class="student-profile-p">
            {{vm.user.bio}}
          </p>
        </div>
      </div>
      <div class="left-column-student-profile">
        <div class="main-image-student-profile">
          <img ngf-src="vm.user.base64ProfileImageURL" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop width="200px" height="200px">
        </div>
        <div class="sidebar-student-profile">
          <div>
              <a href="../../img/profile/default.png" target="_blank"><button class = "button-student-profile" target="_blank"><span>Resume</span></button></a>
              <a href="../../img/profile/default.png" target="_blank"><button class = "button-student-profile" target="_blank"><span>Short Bio</span></button></a>
              <button class = "button-student-profile"><span>Upload New Resume</span></button>
              <button class = "button-student-profile"><span>Approval Status</span></button>
              <button class = "button-student-profile"><span>Comments</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</section>
