<section>
  <div class="page-header">
    <h1>Image Galleries</h1>
  </div>
  <!-- {{vm.imagegalleries}} -->
  <div class="list-group">
    <a ng-repeat="imagegallery in vm.imagegalleries"
       ui-sref="imagegalleries.view({ imagegalleryId: imagegallery._id })"
       class="list-group-item">

       <div class="container">
        <div class="row">
          <div class="col-md-3" ng-repeat="i in imagegallery.paths">
            <img ng-src="{{vm.basePath+i}}" style="width:150px;height:150px" ng-click="vm.selectImage($index)">
            <!-- {{img}} -->
          </div>
        </div>
      </div>
       
       <!-- <img ng-src="{{imagegallery.path}}" style="width:150px;height:150px"> -->
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="imagegallery.created | date:'mediumDate'"></span>
        by
        <span ng-if="imagegallery.user" ng-bind="imagegallery.user.displayName"></span>
        <span ng-if="!imagegallery.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="imagegallery.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.imagegalleries.$resolved && !vm.imagegalleries.length">
    No Imagegalleries yet, why don't you <a ui-sref="imagegalleries.create">create one</a>?
  </div>
</section>
