.firstColumn{
	text-align: left;
	width: 85%;
}

.secondColumn{
	text-align: center;
	width: 15%;
}

#add-module-btn, #add-category-btn {
    float: right;
    margin-top: 21px;
}

.categories-table, .modules-table {
    border: 1.5px solid #222 !important;
}