<section>
  <div class="page-header">
    <h1>Create New Recipe</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.addingForm" class="form-horizontal" ng-submit="vm.save(vm.form.addingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <!--<label class="control-label" for="name"></label>-->
          <input name="name" type="text" ng-model="vm.adding.name" id="name" class="form-control" placeholder="Recipe Name" required>
          <div ng-messages="vm.form.addingForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Adding a recipe name is required.</p>
          </div>
          </br>
          <table>
            <tr>
              <td>Quantity</td>
              <td>Unit</td>
              <td>Ingredient Name</td>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"></button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
