<section>
  <center>
  <div class="page-header">
    <h1>Create New Recipe</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.addingForm" class="form-horizontal" ng-submit="vm.save(vm.form.addingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <!--<label class="control-label" for="name"></label>-->
          <input name="name" type="text" ng-model="vm.adding.name" id="name" class="form-control" placeholder="Recipe Name" required>
          <!--<div ng-messages="vm.form.addingForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Adding a recipe name is required.</p>
          </div>-->
          </br></br>
          <table cellspacing="5" cellpading="3" width="50%">
            <tr>
              <td>Quantity</td>
              <td>Unit</td>
              <td>Ingredient Name</td>
            </tr>
            <tr>
              <td><input name="quantity" type="text" id="quantity" placeholder="0"/></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-info">Units</button>
                  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" href="#">Cups</button>
                    <button class="dropdown-item" href="#">Ounces</button>
                    <button class="dropdown-item" href="#">TBS</button>
                    <button class="dropdown-item" href="#">TPS</button>
                  </div>
                </div>
              </td>
              <td><input name="ingredient" type="text" id="ingredient" placeholder="Ingredient Name"/></td>
            </tr>

          </table>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success"></button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  </center>
</section>
