<section>
<style>
  #directions {
    width: 75%;
    /*padding: 100px 20px;
    margin: 8px 0;
    box-sizing: border-box;*/
    resize: true;
  }
  #name{
    width: 50%;
  }
  select {
    width: 75%;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

</style>

    <center>
    <div class="page-header">
      <h1>Create New Recipe</h1>
    </div>
    <div class="jumbotron">
      <form name="vm.form.addingForm" class="form-horizontal" ng-submit="vm.save(vm.form.addingForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <!--<label class="control-label" for="name"></label>-->
            <input name="name" type="text" ng-model="vm.adding.name" id="name" class="form-control" placeholder="Recipe Name" required>
            <!--<div ng-messages="vm.form.addingForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Adding a recipe name is required.</p>
            </div>-->
            </br></br>
            <table cellspacing="5" cellpading="3" width="50%">
              <tr>
                <td>Quantity</td>
                <td>Unit</td>
                <td>Ingredient Name</td>
              </tr>
              <tr>
                <td><input name="quantity" type="number" id="quantity" placeholder="0"/></td>
                <td>
                  <!--<div class="btn-group">
                    <button type="button" class="btn btn-success">Action</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Cups</a></li>
                      <li><a href="#">Ounces</a></li>
                      <li><a href="#">Tbs</a></li>
                      <li><a href="#">tsp</a></li>
                      <li><a href="#">Quarts</a></li>
                      <li><a href="#">Gallons</a></li>
                      <li><a href="#">pinch</a></li>
                      <li><a href="#">dash</a></li>
                    </ul>
                  </div>-->
                  <select class="form-control">
                    <option>Cups</option>
                    <option>Ounces</option>
                    <option>Tbs</option>
                    <option>tsp</option>
                    <option>Quarts</option>
                    <option>Gallons</option>
                    <option>pinch</option>
                    <option>dash</option>
                  </select>
                </td>
                <td><input name="ingredient" type="text" id="ingredient" placeholder="Ingredient Name"/></td>
              </tr>
  
            </table>
          </div>
          </br>
          <div class="form-group">
            <button type="button" class="btn btn-info">
              Add More Ingredients 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
          </br>
          <div class="form-group">
            <h4>Recipe Directions</h4>
            <!--<input name="directions" type="text" id="directions" class="form-control" placeholder="Enter Directions Here"/>-->
            <textarea  id="directions" class="form-control" rows="5" placeholder="Enter Directions Here"></textarea>
          </div>
          </br>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" disabled="disabled">Healthify</button>
          </div>
          <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Please enter a recipe name!</strong>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
    </center>
  </section>
  