<!doctype html>
<html lang="en" ng-app='usda'>

<head>
  <title>USDA Test</title>
</head> 	

<body ng-controller="USDAController">
	<h1>USDA Info</h1>

	<!--<input type="text" ng-model='search' ng-change='doSearch()'></input>-->
	<input type="text" ng-model='search' ng-change='db()'></input>

	<span ng-bind="orig_ndbno"></span>

	<br> <hr>
	<div ng-repeat="item in map"><p>{{item.map_name}}</p></div>
	
	<!--
	<div style="height: 300px; overflow-y: scroll">
		<table border="1">
			<thead>
				<th>Name</th>
				<th>ndbno</th>
				<th>Food Group</th>
			</thead>
			<tbody>
				<tr ng-repeat="a in arr">
					<td ng-click="getReport(a.ndbno)">{{a.name.toLowerCase()}}</li>
					<td ng-click="getReport(a.ndbno)">{{a.ndbno}}</td>
					<td ng-click="getReport(a.ndbno)">{{a.group}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	-->
	<table id="searchAltResults">
		<tr><th>Name</th><th>Food Groups</th></tr>
		<tr ng-repeat="friend in friends | filter:searchText">
			<td>{{friend.name}}</td>
			<td>{{friend.phone}}</td>
		</tr>
	</table>

	<br> <hr>

	<div>
		<strong>Name:</strong> <p ng-bind="food"></p>
<!-- 		<strong>Ingredients:</strong> <p ng-bind="ingredients"></p> -->
		<strong>Nutrients:</strong> 
			<div ng-repeat="nutrient in nutrients">
				{{nutrient.name}}: {{nutrient.value}} {{nutrient.unit}}
			</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="app.js"></script>
	<script src="usda.js"></script>
</body>

</html>