.heroimage {
  width:100%;
  height:500px;
  background: url('http://www.seriouseats.com/images/2015/09/20150914-pressure-cooker-recipes-roundup-09.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.heroimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  text-align: center;
  padding-top: 250px;
  font-size: 30px;

}
.savebtn{
	width: 150px;
	height: 50px;
	background-color: red;
	float: right;
	margin-right: 10%;
}
.recipeDetail{
	text-align: center;
	margin-top: 5%;
}
.heading{
	font-size: 20px;
}
.text{
	font-size: 15px;
}
hr{
	width: 60%;
	border-width: 1.5px;
	margin-top: 10px;
}
.directions{
	margin-top: 15px;
}
span.glyphicon-time {
    font-size: 1.3em;
}
.verticalLine {
  	border-right: 2px solid #ff0000;
  	width: 70px;
}