<section>
  <div class="page-header">
    <h1>
      Items
      <a class="btn btn-primary pull-right" data-ui-sref="items.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="row">   
       <div class="col-xs-12">   
         <input class="form-control"   
           type="text"   
           placeholder="Search by name, content, category or module"     
           ng-model="query"/>    
      </div>    
   </div>
  <div class="list-group" style="width: 100%">
    <table>
    <tr data-ng-repeat="item in vm.items | filter: query"> 
   <div>
    <td span= "1" style="width: 84%;" ui-sref="items.edit({itemId: item._id})">
      <a ui-sref="items.edit({itemId: item._id})"><h4 class="list-group-item-heading" data-ng-bind="item.title"></h4></a>
      <!-- I did a uisref on both lines so we can get click-anywhere-to-edit but so the item name link will also highlight. It's a deliberate UX decision -->
      <p class="list-group-item-text" data-ng-bind="item.content"></p>
      <b ng-if="item.count"> Count:</b>
      <span ng-if="item.count" ng-bind="item.count"></span>
      <b> Category:</b>
      <span ng-if="item.categories" data-ng-bind="item.categories.title"></span>
     <b> Module:</b>
      <span ng-if="item.modules" ng-bind="item.modules.title"></span>
      <b> Status:</b>
      <span ng-if="item.workingStatus" data-ng-bind="item.modules.workingStatus"></span>
      </br>
    </td>
  <td span= "1" style="width: 4%;">
    <a class="btn btn-danger" ng-click="vm.increment(item, -10)">-10</a>
  </td>
  <td span= "1" style="width: 4%;">
    <a class="btn btn-danger pull-right" ng-click="vm.increment(item, -1)">-1</a>
  </td>
  <td span= "1" style="width: 4%;">
    <a class="btn btn-success pull-right" ng-click="vm.increment(item, 1)">1</a>
  </td>
  <td span= "1" style="width: 4%;">
    <a class="btn btn-success pull-right" ng-click="vm.increment(item, 10)">10</a>
  </td>
  </tr>
  </div>
  </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="items.$resolved && !items.length">
    No items yet, why don't you <a data-ui-sref="items.create">create one</a>?
  </div>
</section>