<section>
  <div class="page-header">
    <h1>
      Items
      <a class="btn btn-primary pull-right" data-ui-sref="admin.items.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="item in vm.items" data-ui-sref="admin.items.edit({itemId: item._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="item.created | date:'mediumDate'"></span>
        by
        <span ng-if="item.user" ng-bind="item.user.displayName"></span>
        <span ng-if="!item.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="item.title"></h4>
      <p class="list-group-item-text" data-ng-bind="item.content"></p>
      <b> Category: </b>
      <span ng-if="item.categories" data-ng-bind="item.categories.title"></span>
     <b> Module: </b>
      <span ng-if="item.modules" data-ng-bind="item.modules.title"></span>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="items.$resolved && !items.length">
    No items yet, why don't you <a data-ui-sref="admin.items.create">create one</a>?
  </div>
</section>

<script>
  var item = $scope;
</script>
