<section>
  <div class="page-header">
    <h1>
      Items
    </h1>
      <span><span class="glyphicon glyphicon-search"></span><input type="text" size= "44" placeholder="Search by name, content, category or module" ng-model="query">
      <a class="btn btn-primary pull-right" data-ui-sref="items.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </span>
    <div>
  </div>
  </div>
  <div class="list-group">
    <a data-ng-repeat="item in vm.items | filter: query" data-ui-sref="items.edit({itemId: item._id})" class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="item.title"></h4>
      <p class="list-group-item-text" data-ng-bind="item.content"></p>
      <b> Count:</b>
      <span ng-if="item.count" ng-bind="item.count"></span>
      <b ng-if="item.categories"> Category:</b>
      <span ng-if="item.categories" data-ng-bind="item.categories.title"></span>
     <b ng-if="item.modules"> Module:</b>
      <span ng-if="item.modules" ng-bind="item.modules.title"></span>
      <b> Status:</b>
      <span ng-if="item.workingStatus" data-ng-bind="item.workingStatus"></span>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="items.$resolved && !items.length">
    No items yet, why don't you <a data-ui-sref="admin.items.create">create one</a>?
  </div>
</section>

<script>
  var item = $scope;
</script>
