<!-- The chat view -->
<section class="container" data-ng-controller="ChatController">
    <div class="page-header">
        <h1>Chat Example</h1>
    </div>
	<!-- The message form -->
	<form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
		<fieldset class="row">
			<div class="input-group">
				<input type="text" id="messageText" name="messageText" class="form-control" data-ng-model="messageText" placeholder="Enter new message">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </span>
			</div>
		</fieldset>
	</form>
    <ul class="list-unstyled">
    <!-- List all messages -->
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" data-ng-repeat="message in messages">
        <small class="pull-right text-muted" data-ng-bind="message.created | date:'mediumTime'"></small>
        <img data-gravatar-src="message.user.email" data-gravatar-size="28" alt="{{message.user.displayName}}" class="pull-left chat-profile-image"/>
        <div class="pull-left chat-message-details">
            <strong data-ng-bind="message.username"></strong><br>
            <span data-ng-bind="message.text"></span>
        </div>
    </li>
    </ul>
</section>
