<section class="row" data-ng-controller="AuthenticationController">
    <h3 class="col-md-12 text-center">Forgot your password?</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form data-ng-submit="forgot()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Account Email">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>