<section>
    <center>
      <div class="page-header">
        <h1 style="color: rgb(249,192,120)">Create New Recipe</h1>
      </div>
    </center>
    <form name="vm.userForm" class="jumbotron" 
        ng-submit="vm.updateUserProfile(vm.userForm.$valid)" novalidate>
      <fieldset class="row">
        <div class="col-md-8">
            <center>
              <div class="form-group" show-errors>
                <h3 id="recipeNameHeader">Recipe Name</h3>
                <input name="name" type="text" ng-model="vm.user.recipes.name" id="name" class="form-control" placeholder="Recipe Name" required>
              </div>
            </center>
            <br>
            <table class="table" style="margin: 0;">
              <thead>
                  <th>Ingredient Name</th>
                  <th>Quantity</th>
                  <th>Units</th>
              </thead>
              <tbody>
                <tr ng-repeat="x in recipeList">
                  <td id="ing">
                    <input name="ingredient" type="text" ng-model="vm.user.recipes.ingredients.name" placeholder="Ingredient Name"/>
                  </td>
                  <td id="quantity">
                    <input name="quantity" type="number" ng-model="vm.user.recipes.ingredients.quantity" placeholder="0"/>
                  </td>
                  <td id="units">
                    <select class="form-control" ng-model="vm.user.recipes.ingredients.units">
                      <option>Cups</option>
                      <option>Ounces</option>
                      <option>Tbs</option>
                      <option>tsp</option>
                      <option>Quarts</option>
                      <option>Gallons</option>
                      <option>pinch</option>
                      <option>dash</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </br>
          <center>
            <div class="form-group">
              <button type="button" class="btn btn-info" ng-click="recipeAdd()">
                Add More Ingredients 
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <div class="form-group">
              <h3 id="directionsHeader">Recipe Directions</h3>
              <textarea id="directions" class="form-control" rows="5" 
                ng-model="vm.user.recipes.directions" placeholder="Enter Directions Here"></textarea>
            </div>
          </center>
          </br>
          <center>
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-success" ui-sref="alternatives">Healthify</button>
            </div>
          </center>
        
          </br>
          <!--<div class="alert alert-warning alert-dismissible" role="alert" id="warn">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Please enter a recipe name!</strong>
          </div>-->
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
</section>
  