<div class="text-center" style="margin-top:50px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div style="width: 100%; height: 17px; border-bottom: 1px solid #AEC86B; text-align: center">
      <span style="font-size: 20px; background-color: #fff; padding: 0 10px; color: #AEC86B">
        New Recipe <!--Padding is optional-->
      </span>
    </div>
    </div>
  </div>

  <form name="vm.addRecipeForm" ng-submit="vm.updateMyRecipes(vm.addRecipeForm.$valid)" novalidate>
    <fieldset>
      <div class="row recipeName">
        <input name="name" type="text" ng-model="recipe.name" style="width: 50%; text-align:center; border:none; text-transform: uppercase; " id="name" class="" placeholder="Enter Recipe Name" required>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div style="float:right; margin-top: -9px;">
            <img src="../modules/users/client/img/addRecipe/cooking-style.png" style="height: 50px; width: 50px ">
            <div style="font-weight:bold">Method</div>
            <select style= "    border-radius: 0px;" class="" ng-model="recipe.cookingStyle">
              <option>Baked</option>
              <option>Fried</option>
              <option>Grilled</option>
            </select>
          </div>
        </div>
        <div class="col-md-6" style="float: left">
          <div style="float:left">
            <img src="../modules/users/client/img/addRecipe/timer.png" style="height: 40px; width: 40px ">
            <div style="font-weight:bold">Minutes</div>
            <input name="time" type="number" ng-model="recipe.ingredients[$index].cookingTime" placeholder="0" style="width: 30%; text-align: center;" />
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div style="float:right">
            <h4>Ingredients</h4>
            <table class="table" style="margin: 0">
              <thead>
                  <th class="">Ingredient Name</th>
                  <th class="">Quantity</th>
                  <th class="">Units</th>
              </thead>
              <tbody>
                <tr ng-repeat="ingredient in recipeList">
                  <td id="ing">
                    <input name="ingredient" type="text" ng-model="recipe.ingredients[$index].name" placeholder="Ingredient Name" style="width: 185px;"/>
                  </td>
                  <td id="quantity">
                    <input name="quantity" type="number" ng-model="recipe.ingredients[$index].quantity" placeholder="0" style="width: 50px;"/>
                  </td>
                  <td id="units">
                    <select class="form-control" ng-model="recipe.ingredients[$index].units" style="height: 26px;">
                      <option>Pinch</option>
                      <option>Dash</option>
                      <option>Ounces</option>
                      <option>Tsp</option>
                      <option>Tbs</option>
                      <option>Cups</option>
                      <option>Quarts</option>
                      <option>Gallons</option>
                    </select>
                  </td>
                </tr>
                <tr style ="background-color: #C7C7C7;">
                  <td align="center" colspan="3">
                    <a class="" ng-click="recipeAdd()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      Add More
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
<!--             <div class="form-group">
              <a  class="" ng-click="recipeAdd()">
                Add More Ingredients 
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" style="width:60%">
            <h4>Recipe Directions</h4>
            <textarea id="directions" class="form-control" rows="5" 
                ng-model="recipe.directions" placeholder="Enter Directions Here"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="htb htb-primary btn-lg sharp">Healthify</button>
          </div>
        </div>
       
      </div>

    </fieldset>
   </form> 
</div>


<!-- 
<section>
    <center>
      <div class="page-header">
        <h1 style="color: rgb(249,192,120)">Create New Recipe</h1>
      </div>
    </center>
    <form name="vm.addRecipeForm" class="jumbotron" ng-submit="vm.updateMyRecipes(vm.addRecipeForm.$valid)" novalidate>
      <fieldset class="row">
        <div class="col-md-8">
            <center>
              <div class="form-group" show-errors>
                <h3 id="recipeNameHeader">Recipe Name</h3>
                  <input name="name" type="text" ng-model="recipe.name" style="width: 50%"
                    id="name" class="form-control" placeholder="Recipe Name" required ng-blur="vm.getImage()">
                <h3 id="recipeNameHeader">Cooking Style</h3>
                  <select style = "width: 15%" class="form-control"
                    ng-model="recipe.cookingStyle">
                        <option>Baked</option>
                        <option>Fried</option>
                        <option>Grilled</option>
                  </select>
              </div>
            </center>
            <br>
            <table class="table" style="margin: 0;">
              <thead>
                  <th>Ingredient Name</th>
                  <th>Quantity</th>
                  <th>Units</th>
              </thead>
              <tbody>
                <tr ng-repeat="ingredient in recipeList">
                  <td id="ing">
                    <input name="ingredient" type="text" ng-model="recipe.ingredients[$index].name" placeholder="Ingredient Name"/>
                  </td>
                  <td id="quantity">
                    <input name="quantity" type="number" ng-model="recipe.ingredients[$index].quantity" placeholder="0"/>
                  </td>
                  <td id="units">
                    <select class="form-control" ng-model="recipe.ingredients[$index].units">
                      <option>Pinch</option>
                      <option>Dash</option>
                      <option>Ounces</option>
                      <option>Tsp</option>
                      <option>Tbs</option>
                      <option>Cups</option>
                      <option>Quarts</option>
                      <option>Gallons</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </br>
          <center>
            <div class="form-group">
              <button type="button" class="btn btn-info" ng-click="recipeAdd()">
                Add More Ingredients 
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <div class="form-group">
              <h3 id="directionsHeader">Recipe Directions</h3>
              <textarea id="directions" class="form-control" rows="5" 
                ng-model="recipe.directions" placeholder="Enter Directions Here"></textarea>
            </div>
            <div class="form-group">
              <h3 id="directionsHeader">Health Classifications</h3>
              <div class="form-group">
                <label for="glutenFree">Gluten Free</label>
                <input type="checkbox" ng-model="recipe.healthClassifications.glutenFree">
              </div>
              <div class="form-group">
                <label for="noSugar">No Sugar</label>
                <input type="checkbox" ng-model="recipe.healthClassifications.noSugar">
              </div>
              <div class="form-group">
                <label for="lowFat">Low Fat</label>
                <input type="checkbox" ng-model="recipe.healthClassifications.lowFat">
              </div>
              <div class="form-group">
                <label for="vegan">Vegan</label>
                <input type="checkbox" ng-model="recipe.healthClassifications.vegan">
              </div>
              <div class="form-group">
                <label for="lowCalorie">Low Calorie</label>
                <input type="checkbox" ng-model="recipe.healthClassifications.lowCalorie">
              </div>
            </div>
          </center>
          </br>
          <center>
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-success">Healthify</button>
            </div>
          </center>
        
          </br>

          <div ng-show="vm.error" class="alert alert-warning alert-dismissible" role="alert" id="warn">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Please enter a recipe name!</strong>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
</section>
   -->