<section>
  <div class="row">
    <center>
      <div class="page-header">
        <h1 style="color: orange">Create New Recipe</h1>
      </div>
    </center>
    <div class="jumbotron">
      <form name="vm.form.addingForm" class="form-horizontal" ng-submit="vm.save(vm.form.addingForm.$valid)" novalidate>
        <fieldset>
          <div class="col-md-8">
          <center>
          <div class="form-group" show-errors>
            <p style="margin-left: 40px">Recipe Name</p>
            <input name="name" type="text" ng-model="vm.adding.name" id="name" class="form-control" placeholder="Recipe Name" required>
            </br></br>

            <div ng-repeat="x in recipeList">
            <table cellspacing="5" cellpading="3" width="85%" style="margin-left: 30px">
            
                <td id="ingredient"><input name="ingredient" type="text"  placeholder="Ingredient Name"/></td>
                <td id="quantity"><input name="quantity" type="number"  placeholder="0"/></td>
                <td id="units">
                  <select class="form-control" >
                    <option>Cups</option>
                    <option>Ounces</option>
                    <option>Tbs</option>
                    <option>tsp</option>
                    <option>Quarts</option>
                    <option>Gallons</option>
                    <option>pinch</option>
                    <option>dash</option>
                  </select>
                </td>

              </tr>
            </table>
            </div>

          </div>
          </br>
          <div class="form-group">
            <button type="button" class="btn btn-info" ng-submit="recipeAdd()">
              Add More Ingredients 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </center>
        </div>
          </br>
        <div class="col-md-4">
        <center>
          <div class="form-group">
            <p style="margin-left: 10px">Recipe Directions</p>
            <textarea  id="directions" class="form-control" rows="5" placeholder="Enter Directions Here"></textarea>
          </div>
          </br>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success" ui-sref="alternatives">Healthify</button>
          </div>
        
        </br>
          <div class="alert alert-warning alert-dismissible" role="alert" id="warn">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Please enter a recipe name!</strong>
          </div>
        </center>
      </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
  