<!-- <div> -->
	<div class="row al-row">
		<div class="col-md-6 al-containerPaddingL">
			<h1 class="al-h1L text-center">Recipe Name</h1>
			<div class="ingredient-containerL al-list">
				<li><div class="al-list-measureL">0 cups</div>Ingredient 1</li>
				<li><div class="al-list-measureL">0 cups</div>Ingredient 2</li>
				<li><div class="al-list-measureL">0 cups</div>Ingredient 3</li>
				<li><div class="al-list-measureL">0 cups</div>Ingredient 4</li>
				<li><div class="al-list-measureL">0 cups</div>Ingredient 5</li>
			</div>
			<button type="button" class="htb htb-primary btn-lg sharp">Edit</button>
		</div>
		<div class="col-md-6 al-containerPaddingR">
			<h1 class="al-h1 text-center">Alternative Recipe</h1>
			<div class="al-tabs">
				<div class="al-tabMargin"><a class="tabA" href="">Healthiest</a> </div>
				<div class=""><a class="tabA" href="">Truest to Taste</a></div>
			</div>
			<div class="ingredient-containerR al-list">
				<li><div class="al-list-measureR">0 cups</div>Ingredient 1</li>
				<li><div class="al-list-measureR">0 cups</div>Ingredient 2</li>
				<li><div class="al-list-measureR">0 cups</div>Ingredient 3</li>
				<li><div class="al-list-measureR">0 cups</div>Ingredient 4</li>
				<li><div class="al-list-measureR">0 cups</div>Ingredient 5</li>
			</div>
			<button type="button" class="htb htb-primary btn-lg sharp al-btnR">Continue</button>
		</div>
	</div>

<!-- </div> -->

