<!-- <div> -->
	<div class="row al-row">
		<div class="col-md-6 al-containerPaddingL">
			<h1 class="al-h1L text-center">Recipe Name</h1>
			<div class="ingredient-containerL al-list">
				<li><div class="al-list-measure">0 cups</div>Ingredient 1</li>
				<li><div class="al-list-measure">0 cups</div>Ingredient 2</li>
				<li><div class="al-list-measure">0 cups</div>Ingredient 3</li>
				<li><div class="al-list-measure">0 cups</div>Ingredient 4</li>
				<li><div class="al-list-measure">0 cups</div>Ingredient 5</li>
			</div>
			<button type="button" class="htb htb-primary btn-lg sharp">Edit</button>
		</div>
		<div class="col-md-6 al-containerPaddingR">
			<h1 class="al-h1 text-center">Alternative Recipe</h1>
			<div class="al-tabs">
				<div class="al-test"><a href="">Healthiest</a> </div>
				<div class=""><a href="">Truest to Taste</a></div>
			</div>
			<div class="ingredient-containerR">
				<li class="">asdf</li>
				<div> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</div>
			<button type="button" class="htb htb-primary btn-lg sharp">Continue</button>
		</div>
	</div>

<!-- </div> -->

