<section>
  <div class="page-header">
    <h3>Change Profile Picture</h3>
  </div>
  <div>
    <form class="signin form-horizontal">
      <fieldset>
        <div class="form-group text-center">
          <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
        </div>
        <div class="text-center form-group" ng-hide="uploader.queue.length">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
          </span>
        </div>
        <div class="text-center form-group" ng-show="uploader.queue.length">
          <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
          <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
