<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
    <form class="signin form-horizontal">
      <fieldset>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <p>Crop your picture then press upload below:</p>
          <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
          </div>
        </div>
        <div class="form-group text-center">
          <img ng-src="{{vm.fileSelected ? croppedDataUrl : vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <button class="btn btn-default btn-file" ngf-select="vm.fileSelected = true; vm.success = null" ng-model="picFile" accept="image/*">Select Picture</button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <button class="btn btn-primary" ng-click="vm.upload(croppedDataUrl, picFile.name)">Upload</button>
          <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
        </div>
        <div ng-show="vm.fileSelected" class="progress text-center">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
            <span class="sr-only">{{vm.progress}}% Complete</span>
          </div>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
