<section class="row" data-ng-controller="EditProfileController">
  <div class="col-xs-10 col-md-8">
    <section>
      <h4>Account</h4>
      <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
          </div>
        </fieldset>
        <div class="text-right form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
        <div data-ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </form>
    </section>
    <section>
      <h4>Emails</h4>
      <ul class="list-unstyled">
        <li ng-repeat="email in user.emails" class="row">
          <div class="col-md-8">
            <div>{{email.address}}</div>
            <span class="label label-primary" ng-if="email.isPrimary">Primary</span>
          </div>
          <div class="col-md-4">
            <a class="btn btn-link">Edit</a>
          </div>
        </li>
      </ul>
    </section>
  </div>
</section>
