<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
    <form class="signin">
      <fieldset>
        <div class="form-group text-center">
          <img ngf-src="vm.fileSelected ? picFile : vm.user.profileImageURL" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <button class="btn btn-primary" ng-click="vm.upload(picFile)">Use This Picture</button>
          <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
        </div>
        <div ng-show="vm.fileSelected" class="progress text-center">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
            <span class="sr-only">{{vm.progress}}% Complete</span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="bio">Short Bio</label>
          <input type="text" id="bio" name="bio" class="form-control" ng-model="vm.user.bio" placeholder="Short Bio" required>
          <div ng-messages="vm.userForm.bio.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bio is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="major">Major</label>
          <input type="text" id="major" name="major" class="form-control" ng-model="vm.user.major" placeholder="Major" required>
          <div ng-messages="vm.userForm.major.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Major is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="availabilityStatus">Availability Status</label>
          <input type="text" id="availability" name="availabilityStatus" class="form-control" ng-model="vm.user.availabilityStatus" placeholder="Availability Status" required>
          <div ng-messages="vm.userForm.availabilityStatus.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Availabilty Status is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="teamName">Team Name</label>
          <input type="text" id="team" name="teamName" class="form-control" ng-model="vm.user.teamName" placeholder="Team Name" required>
          <div ng-messages="vm.userForm.teamName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Team Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="gpa">GPA</label>
          <input type="text" id="gpa" name="gpa" class="form-control" ng-model="vm.user.gpa" placeholder="GPA" required>
          <div ng-messages="vm.userForm.gpa.$error" role="alert">
            <p class="help-block error-text" ng-message="required">GPA is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="graduationDate">Graduation Date</label>
          <input type="text" id="graduationDate" name="graduationDate" class="form-control" ng-model="vm.user.graduationDate" placeholder="Graduation Date" required>
          <div ng-messages="vm.userForm.graduationDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Graduation Date is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
