<!--
<section>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
-->
  <div class="page-header">
    <h1 class="text-center">Settings</h1>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off"> 
      <fieldset>
        <div class="form-group" show-errors>
          <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger"> 
            <span ng-bind="vm.error"></span>
          </uib-alert>
          <br></br>
          <br></br>
          <label for="usernameOrEmail">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;Email: &nbsp;</label>
            <input type="text" id="usernameOrEmail" name="usernameOrEmail" ng-model="vm.credentials.usernameOrEmail" placeholder="Email" required autofocus>   
            <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="currentPassword">&nbsp;Current Password: &nbsp;</label>
          <input type="currentPassword" id="currentPassword" name="currentPassword" ng-model="vm.credentials.password" placeholder="Current Password" required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Current password is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">&emsp;&nbsp;&nbsp;&nbsp;New Password: &nbsp;</label>
          <input type="newPassword" id="newPassword" name="newPassword" ng-model="vm.credentials.newPassword" placeholder="New Password" required>
          <div ng-messages="vm.userForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">New password is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="confirmPassword">Confirm Password: &nbsp;</label>
          <input type="confirmPassword" id="confirmPassword" name="confirmPassword" ng-model="vm.credentials.confirmPassword" placeholder="Confirm Password" required>
          <div ng-messages="vm.userForm.confirmPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Confirm password is required.</p>
          </div>
        </div>
        <div class="col-xs-12 text-center form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
         <br />
      </fieldset>
    </form>
  </div>
</div>



<!--
<section>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Personal Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.healthprofile">Edit Health Profile</a>
        </li>
-->
        <!--
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
      -->
        <!--
        <li ui-sref-active="active">
          <a ui-sref="settings.username">Change Username</a>
        </li>   
      -->
<!--
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
-->