<section>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo:100,200,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300' rel='stylesheet'>
    <link rel="sytlesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <div>
    <div class="signin-uf-body"></div>
    <div class="signin-grad"></div>
    <div class="signin-header">
      <div>IPPD <span>Resume Portal </span></div>
    </div>
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <div class="login">
        <fieldset>
          <div>
            <label class="customText" for="usernameOrEmail">Username or Email</label>
          </div>
          <div>
            <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="customInputBox" ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus>
          </div>
          <div>
            <label class="customText" for="password">Password</label>
          </div>
          <div>
            <input type="password" id="password" name="password" class="customInputBox" ng-model="vm.credentials.password" placeholder="Password" required>
          </div>
          <div class="terms-div">
            <label>
              <input type="checkbox" name="checkbox" value="check" class="terms-check-box"><span> I agree to the <a href="/terms_and_conditions" target="_blank"> Terms & Conditions</a></span>
            </label>
          </div>
          <input type="submit" value="Sign in" onclick="if(!this.form.checkbox.checked){alert('You must agree to the terms first.');return false}"  />
        </fieldset>
      </div>
    </form>
  </div>
</section>
