<!--Terms and Agreement page for the people to check before that log into the system-->
<section>
  <div>
    <link href='http://fonts.googleapis.com/css?family=Exo:100,200,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300' rel='stylesheet'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link rel="sytlesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <div class="bodyTerms">
      <div class="headerTerms">
        <div>IPPD <span>Terms and Agreements </span></div>
      </div>
      <div class="paragraphTerms">
      <p>You are logging in to a University of Florida (UF) information system and agree to comply with the UF Acceptable Use Policy and Guidelines. Unauthorized use of this system is prohibited and may subject the user to criminal and civil penalties. UF may monitor computer and network activities, and the user should have limited expectations of privacy.</p>
      </div>
    </div>
  </div>
</section>
