/*.content {
  margin-top: 50px;
}*/
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*header*/
.navbar{
  margin-bottom: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-right {
  margin-right: 20px;
}
.input-group{
  width: 500px;
}
.glyphicon-user{
  font-size: 20px;
}
.searchBar{
  border-radius: 0;
  
}
.searchBar-btn{
  background-color: rgb(249,192,120);
}
.searchBar-btn:hover{
  background-color: rgb(247,202,154);
}
.head:hover{
  color: black !important;
}
.navbar{
  background-color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
     text-shadow: none; 
}
.navbar-inverse{
  background-color: #ffffff;
  background-image: none;
  border-color: transparent;
}
.user-img{
  border-radius: 50%;
  width:30px;
  height: 30px;
  margin-right: 7px;
}
.user-move{
  padding-top: 12px !important;
}


/*body*/
.container{
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.properties{
  height: 300px;
  padding-right: 0; 
  padding-left: 0; 
}
.content{
  margin-top: 58px;
}
.navbar-inverse .navbar-brand{
  color: rgb(249,192,120);
}
.img-prop{
  width:100%; 
  height:100%;
}

/*lower nav*/
.lowerNav .textLN{
  height: 50px;
  background-color: rgb(223,93,74);
  padding-top: 15px; 
}
.left{
  margin-right: 50px;
}
.textLN a{
  color: #ffffff; 
}
.filter-dropdown{
  margin: 0px 0 0;
}
.card-info{
  position: absolute;
  bottom: 0%;
  left: 5%;
  color: #fff;
  width: 95%;
  height: 60px;
}
.card-info2{
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: #fff;
  width: 100%;
  background-color: rgba(68,68,68,0.3);
  height: 60px;
}
.card-name{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.card-icon{
  width: 25px;
  height: 25px;
  
}
.card-icon-container{
  float: right;
  margin-right: 21px;
  margin-top: 10px;
}
/*drop down menus in home page*/
.dropMenu{
  float: left;
  width: 100%;
  margin-left: 36.3%;

}
.dropup, .dropdown{
  float: left;

}
.btn-prop{
  background-color: white;
  color: gray;
}






.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #F9C078;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #AEC86B;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #AEC86B;
  cursor: pointer;
}



/*
Color Guide
Green: rgb(174,200,107), hex(AEC86B);
light blue: rgb(140,212,201), hex(8CD4C9);
light orange: rgb(249,192,120), hex(F9C078);
orange: rgb(253,131,93), hex(FD835D);
dark orange: rgb(223,93,74), hex(DF5D4A);
*/
