html * {
    font-family: 'Source Sans Pro', sans-serif !important;
}

body {
    /*https://www.pexels.com/photo/armchairs-blur-business-chair-296883/ */
    background-image: url("https://static.pexels.com/photos/296883/pexels-photo-296883.jpeg");
    height: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.content {
    margin-top: 50px;
}

.jumbotron {
    padding: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgba(137, 137, 137, .85)
}

.container-fluid {
    background-color: none;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}

.carousel-control{
    all: default;
}

h1, h2, th, label {
    color: black;
}

#eventData {
    color: white;
}


