/*Classes used for the entire */
h3{
  color: rgb(78,78,78);
  margin-bottom: 20px;
  margin-top: 10px;
}
h4{
  font-weight:bold;
  color: rgb(78,78,78);
}
.text-navbar{
  font-size: 16px;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.content {
  margin-top: 52px ;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*header*/
.navbar{
  margin-bottom: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-right {
  margin-right: 20px;
}
.input-group{
  width: 500px;
}
.glyphicon-user{
  font-size: 20px;
}
.searchBar{
  border-radius: 0;

}
.searchBar-btn{
  background-color: rgb(249,192,120);
}
.searchBar-btn:hover{
  background-color: rgb(247,202,154);
}
.head:hover{
  color: #383838 !important;
}
.navbar{
  background-color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
}
.navbar-inverse{
  background-color: #ffffff;
  background-image: none;
  border-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: rgb(249,192,120); 
  background-color: transparent;
}

.user-img{
  border-radius: 50%;
  width:30px;
  height: 30px;
  margin-right: 7px;
}
.user-move{
  padding-top: 12px !important;
}
.logo{
  margin-left: 15px !important;

}  
.HTlogo{
  width: 180px;
  height: 80px;
}
.logo-color{
/*  font-weight: bolder;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3) !important*/
  padding: 0;
  margin-top: 10px;

}
/*
.lo:hover{
  color: rgba(249,192,120, 0.8) !important;
}*/

/*user name hover*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fff !important;
}



/*body*/

body{
  font-family: "Source Sans Pro", "Sans";
}
.row-margin{
  margin-right: 0; 
  margin-left: 0; 
}

.container{
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.properties{
  height: 300px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-inverse .navbar-brand{
  color: rgb(249,192,120);
}
.img-prop{
  width:100%;
  height:100%;
}

/*lower nav*/

.lowerNav .textLN{
  height: 50px;
  background-color: rgb(223,93,74);
  padding-top: 15px;
}

.left{
  margin-right: 50px;
}

.textLN a{
  color: #FFFFFF;
}
.filter-dropdown{
  margin: 0px 0 0;
}
.card-info{
  position: absolute;
  bottom: 0%;
  left: 5%;
  color: #fff;
  width: 95%;
  height: 60px;
}
.card-info2{
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: #fff;
  width: 100%;
  background-color: rgba(68,68,68,0.3);
  height: 60px;
}
.card-name{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.card-icon{
  width: 25px;
  height: 25px;

}
.card-icon-container{
  float: right;
  margin-right: 21px;
  margin-top: 10px;
}
/*drop down menus in home page*/
.dropMenu{
  float: left;
  width: 100%;
  padding-left: 36.3%;

}
@media  (max-width: 500px) {
  .dropMenu {
    padding-left: 10.3%;
  }
}
.dropup, .dropdown{
  float: left;

}
.btn-prop{
  background-color: white;
  color: gray;
}




#slidecontainer {
  float: left;
  width: 10%;
  margin-left: 26.3%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #F9C078;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #AEC86B;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #AEC86B;
  cursor: pointer;
}

.checked {
  color: #F9C078;
}





.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}

.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #AEC86B;
}

.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}

.acidjs-rating-stars input
{
    display: none;
}

.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}

.acidjs-rating-stars label
{
    color: #ccc;
}

.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.acidjs-rating-stars input:checked ~ label
{
    color: #F9C078;
}


/*
.filterDiv {
  float: left;
  background-color: #AEC86B;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}*/



/*
Color Guide
Green: rgb(174,200,107), hex(AEC86B);
light blue: rgb(140,212,201), hex(8CD4C9);
light orange: rgb(249,192,120), hex(F9C078);
orange: rgb(253,131,93), hex(FD835D);
dark orange: rgb(223,93,74), hex(DF5D4A);
*/
