/*.content {
  margin-top: 50px;
}*/
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*header*/
.navbar{
  margin-bottom: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-right {
  margin-right: 20px;
}
.input-group{
  width: 500px;
}
.glyphicon-user{
  font-size: 20px;
}
.navbar-inverse{
  /*background-color: rgba(223,93,74,0.3);*/
  background-color: #ffffff;
  background-image: none;
  border-color: transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
}

/*body*/
.container{
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.properties{
  height: 300px;
}
.content{
  margin-top: 58px;
}
.navbar-inverse .navbar-brand{
  color: rgb(249,192,120);
}

/*lower nav*/
.lowerNav .textLN{
  height: 50px;
  background-color: rgb(223,93,74);
  padding-top: 15px; 
}
.left{
  margin-right: 50px;
}
.textLN a{
  color: #ffffff; 
}

/*drop down menus in home page*/
.dropMenu{
  float: left;
  width: 100%;
  margin-left: 36.3%;

}
.dropup, .dropdown{
  float: left;

}
.btn-prop{
  background-color: white;
  color: gray;
}



/*
Color Guide
Green: rgb(174,200,107);
light blue: rgb(140,212,201);
light orange: rgb(249,192,120);
orange: rgb(253,131,93);
dark orange: rgb(223,93,74);
*/
