h1{
  color: #8CD4C9;
}

#title{
  font-size: 40px;
  color: #8CD4C9;
}

#ingredient{
  font-size: 40px;
  color: #FD835D;
}

.boxed{
  border: 4px solid #AEC86B ;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #AEC86B;
}

td{
  color: #DF5D4A;
  /*border: 2px solid #AEC86B;*/
  text-align: center;
  /*padding: 8px;*/
}

th{
  color: #8CD4C9;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #8CD4C9;
  /*border: 2px solid #AEC86B;*/
}

text{
  font-size: 25px;
  color: #FD835D;
}

.active{
  text-decoration: underline !important;
}


/*
Color Guide
Green: rgb(174,200,107), hex(AEC86B);
light blue: rgb(140,212,201), hex(8CD4C9);
light orange: rgb(249,192,120), hex(F9C078);
orange: rgb(253,131,93), hex(FD835D);
dark orange: rgb(223,93,74), hex(DF5D4A);
*/
