h2{
  color: rgb(78,78,78);
}

#views{
  background-color: #FD835D;
}

/*#viewName{
  color: #AEC86B;
}*/

#title{
  font-size: 40px;
  color: #8CD4C9;
  font-weight: normal;
}

#ingredient{
  font-size: 40px;
  color: #FD835D;
}

.boxed{
  opacity: 1;
  border: 4px solid #AEC86B;
  min-height: 300px;
}
.boxed:hover{
  background-color: #dfdfdf;
  opacity: 1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #AEC86B;
}

td{
  color: #FD835D;
  /*border: 2px solid #AEC86B;*/
  text-align: center;
  /*padding: 8px;*/
}

/*
td:hover{
  background-color: #F9C078;
}

#ing1:hover {
  background-color: #F9C078;
}*/

th{
  color: #AEC86B;
  text-align: center;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #8CD4C9;
  /*border: 2px solid #AEC86B;*/
}

text{
  font-size: 25px;
  color: #FD835D;
  font-weight: bold;
}

.active{
  text-decoration: underline !important;
}

#flipTable{
  margin-left: 10px;
}


/*
Color Guide
Green: rgb(174,200,107), hex(AEC86B);
light blue: rgb(140,212,201), hex(8CD4C9);
light orange: rgb(249,192,120), hex(F9C078);
orange: rgb(253,131,93), hex(FD835D);
dark orange: rgb(223,93,74), hex(DF5D4A);
*/
