h1{
  color: #8CD4C9;
}

#title{
  color: #8CD4C9;
}

.boxed{
  border: 2px solid #AEC86B ;
}




/*
Color Guide
Green: rgb(174,200,107), hex(AEC86B);
light blue: rgb(140,212,201), hex(8CD4C9);
light orange: rgb(249,192,120), hex(F9C078);
orange: rgb(253,131,93), hex(FD835D);
dark orange: rgb(223,93,74), hex(DF5D4A);
*/
